section.section1.section-favourites.pay-pages--section
    .container
        .section-container.favourites-wrapper
            .col-xl-3.col-lg-3.col-md-12.col-sm-12.favourites-sidebar.pl-0
                .lanch-components--stycky
                    .lanch-components--block
                        .lanch-components--top
                            .lanch-components--title Содержание
                        .lanch-components--middle.favourite-links--wrap
                            a.favourite-links(href="/") Банковской картой
                            a.favourite-links(href="/") Яндекс.Деньги
                            a.favourite-links(href="/") Отмена платежа
                            a.favourite-links(href="/") Нет нужного способа оплаты
            .col-xl-9.col-lg-9.col-md-12.col-sm-12.favourites-content.pr-0
                .pay-info--wrap
                    .section-title--wrap.justify-content-between
                        .section-title.mb-20 Оплата
                    .pay-desc-text.mb-40 Способ оплаты может быть недоступен для выбранного способа доставки или региона.
                    .pay-title.fs-19.mb-20 Банковской картой
                    .pay-desc-text.mb-20 При оформлении заказа выберите #[span Онлайн банковской картой] и нажмите #[span “Оформить заказ”]. Введите данные карты и нажмите #[span “Оплатить”]. Минимальная сумма оплаты — 1 рубль.
                    .pay-desc-text.mb-20 К оплате принимаются банковские карты, у которых 16, 18, 19 цифр в номере:
                    .pay-cards--list
                        .pay-cards--item
                            +icon2('pay-visa')
                        .pay-cards--item
                            +icon2('pay-ame')
                        .pay-cards--item
                            +icon2('pay-mas')
                        .pay-cards--item
                            +icon2('pay-mir')
                    .pay-desc-text.mb-40 После оплаты заказа вам на почту придет электронный чек.
                    .pay-title.fs-19.mb-20 Отмена платежа
                    .pay-desc-text.mb-40 Для полного или частичного возврата денежных средств на карту Вам необходимо обратиться в магазин. Деньги автоматически вернутся на вашу карту в течение 2-3х дней. Точный срок возврата денежных средств зависит от давности размещения заказа и от банка, выпустившего карту (максимальный срок возврата не может превышать 30 дней).
                    .pay-title.fs-19.mb-20 Нет нужного способа оплаты
                    .pay-desc-text Во время оформления заказа вы увидите доступные способы оплаты для вашего заказа. Способ оплаты может быть недоступен для вашего региона или способа доставки.