
header
  position absolute
  left 0
  right 0
  top 0
  width 100%
  z-index 10
  will-change transform
  transition .4s ease

.header-card-fixed
  display none
  position absolute
  width 100%
  top 0
  left 0
  right 0
  background-color #fff
  border-top 1px solid rgba(33,33,33,0.05)
  padding 6.5px 0
  .header-logo
    margin-right 50px

.card-header-fixed--added .header-fix
  .header-card-fixed
    display block

.header-fix
  position fixed
  background: rgba(94, 94, 94, 0.25);
  backdrop-filter: blur(35px);
  animation-name hfix
  animation-duration 300ms
  z-index 200
  .header-relative
    border-bottom none

@keyframes hfix
  from
    transform translateY(-50vh)
  to
    transform translateY(0)
.index-page .header-card-fixed
  display none !important
.other-page
  .header-logo .icon
    fill #FF651D
  header
    box-shadow: 0px 5px 20px -10px rgba(0, 0, 0, 0.1);
  .content
    padding-top 90px
  .header-fix
    position fixed
    backdrop-filter none
    background-color #fff
  .header-nav--menu__item,.header-phone--link
    color color21
  .header-attr--profile,.header-attr--favourite
    background-color #f9f9f9
    .icon
      fill rgba(33,33,33,0.4)
.header-container
  display flex
  align-items center
  justify-content space-between
.header-logo
  .icon
    size(135px,76px)
    fill #FF651D
.header-nav--menu
  margin 0 45px
.header-nav--menu__item
  font-family Rb400
  font-size 15px
  color #fff
  margin-right 30px
  text-decoration none
  &:last-child
    margin-right 0
.header-phone--attr
  display flex
  flex-direction column
  align-items center
  margin-right 30px
.header-phone--link
  font-family Ow700
  font-size 19px
  color #fff
  margin-bottom 6px
.header-callback
  font-family Rb400
  font-size 13px
  color colorMain
  cursor pointer
.header-attr
  display flex
  align-items center
.header-attr--profile,.header-attr--favourite,.header-attr--basket
  position relative
  display flex
  justify-content center
  align-items center
  size(42px)
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius 50%
  margin-right 15px
  cursor pointer
  .icon
    size(20px)
    fill #fff
  .icon-like
    margin-top 1px

.header-attr--basket__wrap
  display flex
  align-items center
  position relative
  background-color colorMain
  padding 1px
  border-radius 21px
  cursor pointer
.header-attr--basket__count
  font-family Ow600
  font-size 14px
  color #fff
  margin-right 15px
.header-attr--favourite__count
  display flex
  justify-content center
  align-items center
  position absolute
  top: -4px;
  right: -3px;
  size(16px)
  background-color colorMain
  border-radius 50%
  font-family Rb400
  font-size 11px
  color #fff

.header-relative
  padding 7px 0
  border-bottom 1px solid rgba(255,255,255,0.2)
.header-mini-basket--wrap
  position absolute
  height: 333px;
  width: 570px;
  right: 0;
  top: 43px;
  opacity 0
  pointer-events none
  transition .3s ease
  z-index 2
  &:before
    content ''
    position absolute
    right: 60px;
    top: 20px;
    size(24px)
    clip-path: polygon(50% 10%, 0% 100%, 100% 100%);
    background-color #fff
    z-index 2

.header-attr--basket__wrap:hover
  .header-mini-basket--wrap
    opacity: 1;
    pointer-events auto
.header-mini-basket
  position absolute
  background-color #fff
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  height calc(100% - 43px)
  overflow-y auto
  width 100%
  bottom 0
  padding 0 16px
  padding-bottom 60px
  &::-webkit-scrollbar
    width 0

.header-mini-basket__over
  display flex
  justify-content space-between
  align-items center
  position absolute
  bottom 0
  left 0
  right 0
  padding 18px
  background: #F9F9F9;
  border-radius: 10px;
.header-mini-basket__over--title
  font-family Ow400
  font-size 15px
  color color21
.header-mini-basket__over--price
  font-family Ow600
  font-size 15px
  color colorMain

.header-card-fixed--container
  display flex
  justify-content space-between
  align-items center
.header-card-fixed--left
  display flex
  align-items center

.header-card-fixed--name
  font-family Ow600
  font-size 22px
  color color21
  margin-right 70px
.header-card-fixed--price
  font-family Ow500
  font-size 22px
  color colorMain
  .count-card-f
    color color21
    font-size 15px
    margin-left 3px
.slash
  color color21
  font-size 22px

