section.section-404.p-60-0
    .container
        .section-404-container
            .section-404-container--icon
                +icon2('fill-404')
            .section-404-container--title Упс!
            .section-404-container--desc Похоже мы не можем найти нужную Вам страницу.
            .main-button.max-content.m-0-auto Венуться к выбору блюд