.faq-content--item--wrap
    .faq-content--item
        .faq-content--item__left
            .faq-content--nubmer 1
            .faq-content--title Как составить свой собственный “Готовый ланч” ?
        .faq-content--item__right
            +icon('arrow-down')
    .faq-content--item__info
        .faq-content--item__info--wrap.faq-swiper--desc.active
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--left
                .faq-content--item__info--title В полной версии
                .faq-swiper-tab--content
                    .faq-swiper--wrapper
                        .faq-swiper-device.faq-swiper-device--desc(style="background-image:url('/static/img/general/des.png')")
                            .faq-swiper-container.faq-swiper-container-swipe.swiper-container
                                .faq-swiper-wrap.swiper-wrapper
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mac.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mac.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mac.png')")
                            .faq-swiper-pagination
                        .faq-swiper-tabs--list
                            .faq-swiper-tab.active(data-tab="faq-swiper--desc")
                                +icon('faq-comp')
                            .faq-swiper-tab(data-tab="faq-swiper--tablet")
                                +icon('faq-tablet')
                            .faq-swiper-tab(data-tab="faq-swiper--mobile")
                                +icon('faq-mobile')
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--right
                .faq-content-info--right--swiper.swiper-container
                    .faq-swiper-container-wrapper.swiper-wrapper
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 1
                                .faq-content-info--count 01
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse tincidunt et nibh quam ut nulla vitae proin. Vitae viverra sed amet donec morbi eu amet, at nisl, tristique cursu.
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 2
                                .faq-content-info--count 02
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 3
                                .faq-content-info--count 03
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse


        .faq-content--item__info--wrap.faq-swiper--tablet
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--left
                .faq-content--item__info--title В версии для планшета
                .faq-swiper-tab--content
                    .faq-swiper--wrapper
                        .faq-swiper-device.faq-swiper-device--tablet(style="background-image:url('/static/img/general/tab.png')")
                            .faq-swiper-container.faq-swiper-container-swipe.swiper-container
                                .faq-swiper-wrap.swiper-wrapper
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/tabimg.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/tabimg.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/tabimg.png')")
                            .faq-swiper-pagination
                        .faq-swiper-tabs--list
                            .faq-swiper-tab.active(data-tab="faq-swiper--desc")
                                +icon('faq-comp')
                            .faq-swiper-tab(data-tab="faq-swiper--tablet")
                                +icon('faq-tablet')
                            .faq-swiper-tab(data-tab="faq-swiper--mobile")
                                +icon('faq-mobile')
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--right
                .faq-content-info--right--swiper.swiper-container
                    .faq-swiper-container-wrapper.swiper-wrapper
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 1
                                .faq-content-info--count 01
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse tincidunt et nibh quam ut nulla vitae proin. Vitae viverra sed amet donec morbi eu amet, at nisl, tristique cursu.
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 2
                                .faq-content-info--count 02
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 3
                                .faq-content-info--count 03
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse
        .faq-content--item__info--wrap.faq-swiper--mobile
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--left
                .faq-content--item__info--title В мобильной версии
                .faq-swiper-tab--content
                    .faq-swiper--wrapper
                        .faq-swiper-device.faq-swiper-device--mobile(style="background-image:url('/static/img/general/mob.png')")
                            .faq-swiper-container.faq-swiper-container-swipe.swiper-container
                                .faq-swiper-wrap.swiper-wrapper
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mobimg.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mobimg.png')")
                                    .faq-swiper-slide.swiper-slide
                                        .faq-siwper-img(style="background-image:url('/static/img/general/mobimg.png')")
                            .faq-swiper-pagination
                        .faq-swiper-tabs--list
                            .faq-swiper-tab.active(data-tab="faq-swiper--desc")
                                +icon('faq-comp')
                            .faq-swiper-tab(data-tab="faq-swiper--tablet")
                                +icon('faq-tablet')
                            .faq-swiper-tab(data-tab="faq-swiper--mobile")
                                +icon('faq-mobile')
            .col-xl-6.col-lg-6.col-md-12.col-sm-12.faq-content-info--right
                .faq-content-info--right--swiper.swiper-container
                    .faq-swiper-container-wrapper.swiper-wrapper
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 1
                                .faq-content-info--count 01
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse tincidunt et nibh quam ut nulla vitae proin. Vitae viverra sed amet donec morbi eu amet, at nisl, tristique cursu.
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 2
                                .faq-content-info--count 02
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse
                        .faq-content-slide--right.swiper-slide
                            .faq-content-info--right--top
                                .faq-content-info--step Шаг 3
                                .faq-content-info--count 03
                                    span.slash /
                                    .fci-count--2 03
                            .faq-content-info--right--bottom
                                p Eget tellus turpis mattis morbi dolor quis volutpat cursus suspendisse. In viverra cum nulla consequat amet, at nisl, tristique cursus. Quam eu non donec pellentesque. Ut nibh gravida nulla in tortor. Volutpat, cursus sapien, tellus pulvinar est non ac ante. Lacus est consectetur amet velit nisi, nec amet. Tortor egestas lobortis aliquam tempus, vel. Dignissim nisi, quam nisi, sed vitae a nunc. Lectus aliquet elementum gravida in proin ut elementum. In ac id amet cursus nec ipsum ut proin. Commodo tristique eleifend lorem sollicitudin tincidunt diam.
                                    br
                                    br
                                    | Porttitor mattis mollis elit aliquam morbi odio eget dolor ac. Suspendisse