.tablet-menu-sandwich
    .tablet-menu--top
        .header-logo
            +icon('logo')
        .header-phone--attr
            a.header-phone--link(href="tel:89991234567") 8 (999) 123 45 67
            .header-callback Обратный звонок
    .tablet-menu--content
        ul.nav-sidebar-menu--list
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Личный кабинет
                ul.nav-sidebar-menu--list--depth2
                    a.nav-sidebar-menu--item--depth2(href="/") Личные данные
                    a.nav-sidebar-menu--item--depth2(href="/") Адреса
                    a.nav-sidebar-menu--item--depth2(href="/") Мои заказы
                    a.nav-sidebar-menu--item--depth2(href="/") Подписка
                    a.nav-sidebar-menu--item--depth2(href="/") Шаблоны

            a.nav-sidebar-menu--item(href="/")
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title О нас
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Меню
                ul.nav-sidebar-menu--list--depth2
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('hinkal')
                        span Хинкали
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('chebur')
                        span Чебуреки
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('manti')
                        span Манты
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('hacha')
                        span Хачапури
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('samsa')
                        span Самса
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('pirog')
                            span Пирог
                        ul.nav-sidebar-menu--list--depth3
                            a.nav-sidebar-menu--item--depth3(href="/") Осетинские пироги
                            a.nav-sidebar-menu--item--depth3(href="/") Сванский кубдари
                            a.nav-sidebar-menu--item--depth3(href="/") Хачапури на сковороде
                            a.nav-sidebar-menu--item--depth3(href="/") Чепалгаш с картофелем
                            a.nav-sidebar-menu--item--depth3(href="/") Хадурджин с фасолью
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('desert')
                        span Десерты
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('zakus')
                        span Закуски
                    a.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link(href="/")
                        .nav-sidebar-menu--item--depth2--icon
                            +icon('drinks')
                        span Напитки



            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Доставка и оплата
                ul.nav-sidebar-menu--list--depth2
                    a.nav-sidebar-menu--item--depth2(href="/") Рабочий стол
                    a.nav-sidebar-menu--item--depth2(href="/") Обращения
                    a.nav-sidebar-menu--item--depth2(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            a.nav-sidebar-menu--item--depth3(href="/") Категории
                            a.nav-sidebar-menu--item--depth3(href="/") Критичность
                            a.nav-sidebar-menu--item--depth3(href="/") Статусы
                            a.nav-sidebar-menu--item--depth3(href="/") Оценки ответов
                            a.nav-sidebar-menu--item--depth3(href="/") Сложность
                            a.nav-sidebar-menu--item--depth3(href="/") Быстрые ответы

                    a.nav-sidebar-menu--item--depth2(href="/") Уровни поддержки
                    a.nav-sidebar-menu--item--depth2(href="/") Расписание
                    a.nav-sidebar-menu--item--depth2(href="/") Группы
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Акции
                ul.nav-sidebar-menu--list--depth2
                    a.nav-sidebar-menu--item--depth2(href="/") Рабочий стол
                    a.nav-sidebar-menu--item--depth2(href="/") Обращения
                    a.nav-sidebar-menu--item--depth2(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            a.nav-sidebar-menu--item--depth3(href="/") Категории
                            a.nav-sidebar-menu--item--depth3(href="/") Критичность
                            a.nav-sidebar-menu--item--depth3(href="/") Статусы
                            a.nav-sidebar-menu--item--depth3(href="/") Оценки ответов
                            a.nav-sidebar-menu--item--depth3(href="/") Сложность
                            a.nav-sidebar-menu--item--depth3(href="/") Быстрые ответы

                    a.nav-sidebar-menu--item--depth2(href="/") Уровни поддержки
                    a.nav-sidebar-menu--item--depth2(href="/") Расписание
                    a.nav-sidebar-menu--item--depth2(href="/") Группы
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Контакты
                ul.nav-sidebar-menu--list--depth2
                    a.nav-sidebar-menu--item--depth2(href="/") Рабочий стол
                    a.nav-sidebar-menu--item--depth2(href="/") Обращения
                    a.nav-sidebar-menu--item--depth2(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            a.nav-sidebar-menu--item--depth3(href="/") Категории
                            a.nav-sidebar-menu--item--depth3(href="/") Критичность
                            a.nav-sidebar-menu--item--depth3(href="/") Статусы
                            a.nav-sidebar-menu--item--depth3(href="/") Оценки ответов
                            a.nav-sidebar-menu--item--depth3(href="/") Сложность
                            a.nav-sidebar-menu--item--depth3(href="/") Быстрые ответы

                    a.nav-sidebar-menu--item--depth2(href="/") Уровни поддержки
                    a.nav-sidebar-menu--item--depth2(href="/") Расписание
                    a.nav-sidebar-menu--item--depth2(href="/") Группы



.tel-menu-sandwich
    .tablet-menu--top
        .header-logo
            +icon('logo')
        .header-phone--attr
            a.header-phone--link(href="tel:89991234567") 8 (999) 123 45 67
            .header-callback Обратный звонок
    .tablet-menu--content
        ul.nav-sidebar-menu--list
            a.nav-sidebar-menu--item(href="/")
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title О нас
            a.nav-sidebar-menu--item(href="/")
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Доставка и оплата
            a.nav-sidebar-menu--item(href="/")
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Контакты
            a.nav-sidebar-menu--item(href="/")
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title FAQ