.tablet-menu-sandwich
    .tablet-menu--top
        .header-logo
            +icon('logo')
        .header-phone--attr
            a.header-phone--link(href="tel:89991234567") 8 (999) 123 45 67
            .header-callback Обратный звонок
    .tablet-menu--content
        ul.nav-sidebar-menu--list
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Личный кабинет
                ul.nav-sidebar-menu--list--depth2
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Личные данные
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Адреса
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Мои заказы
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Подписка
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Шаблоны

            li.nav-sidebar-menu--item
                a(href="/")
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item--title О нас
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Меню
                ul.nav-sidebar-menu--list--depth2
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('hinkal')
                            span Хинкали
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('chebur')
                            span Чебуреки
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('manti')
                            span Манты
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('hacha')
                            span Хачапури
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('samsa')
                            span Самса
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('pirog')
                            span Пирог
                        ul.nav-sidebar-menu--list--depth3
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Осетинские пироги
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Сванский кубдари
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Хачапури на сковороде
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Чепалгаш с картофелем
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Хадурджин с фасолью
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('desert')
                            span Десерты
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('zakus')
                            span Закуски
                    li.nav-sidebar-menu--item--depth2.nav-sidebar-menu--depth2--link
                        a(href="/")
                            .nav-sidebar-menu--item--depth2--icon
                                +icon('drinks')
                            span Напитки



            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Доставка и оплата
                ul.nav-sidebar-menu--list--depth2
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Рабочий стол
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Обращения
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Категории
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Критичность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Статусы
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Оценки ответов
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Сложность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Быстрые ответы
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Уровни поддержки
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Расписание
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Группы
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Акции
                ul.nav-sidebar-menu--list--depth2
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Рабочий стол
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Обращения
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Категории
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Критичность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Статусы
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Оценки ответов
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Сложность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Быстрые ответы
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Уровни поддержки
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Расписание
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Группы
            li.nav-sidebar-menu--item
                .nav-sidebar-menu--item--wrap
                    .nav-sidebar-menu--item--title Контакты
                ul.nav-sidebar-menu--list--depth2
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Рабочий стол
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Обращения
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Графики
                    li.nav-sidebar-menu--item--depth2
                        .nav-sidebar-menu--item--depth2--wrap
                            .nav-sidebar-menu--item--title2 3
                        ul.nav-sidebar-menu--list--depth3
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Категории
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Критичность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Статусы
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Оценки ответов
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Сложность
                            li.nav-sidebar-menu--item--depth3
                                a(href="/") Быстрые ответы

                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Уровни поддержки
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Расписание
                    li.nav-sidebar-menu--item--depth2
                        a(href="/") Группы



.tel-menu-sandwich
    .tablet-menu--top
        .header-logo
            +icon('logo')
        .header-phone--attr
            a.header-phone--link(href="tel:89991234567") 8 (999) 123 45 67
            .header-callback Обратный звонок
    .tablet-menu--content
        ul.nav-sidebar-menu--list
            li.nav-sidebar-menu--item
                a(href="/")
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item--title О нас
            li.nav-sidebar-menu--item
                a(href="/")
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item--title Доставка и оплата
            li.nav-sidebar-menu--item
                a(href="/")
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item--title Контакты
            li.nav-sidebar-menu--item
                a(href="/")
                    .nav-sidebar-menu--item--wrap
                        .nav-sidebar-menu--item--title FAQ
