extends ../layout/main

block variables
    - var title = 'О нас'
    - var pageClass = 'other-page about-us-page'

block content
    include ../modules/breadcrumbs
    include about-us/section1
    include about-us/section2
    include about-us/section3
    include about-us/section4
    include index/section8
    include index/section9