extends ../layout/main

block variables
    - var title = 'Новость/Статья'
    - var pageClass = 'other-page article-page'

block content
    include ../modules/breadcrumbs
    include article/section1