extends ../layout/main

block variables
    - var title = 'Корзина'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include basket/section1
    include card/section3
    include card/section4
