extends ../layout/main

block variables
    - var title = 'Корзина (Минимальная сумма заказа)'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include basket2/section1
    include card/section3
    include card/section4