extends ../layout/main

block variables
    - var title = 'Корзина'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include basket/section1
    include basket/section-complex-obed
    include card/section3
    include card/section4
    .popups
        include ../popups/popup-added-basket
    .popups-mobile
        include ../popups-mobile/popup-basket-added
