extends ../layout/main

block variables
    - var title = 'Каталог'
    - var pageClass = 'catalog-page other-page'

block content
    include ../modules/breadcrumbs
    include catalog/section1
    include catalog/section2
    include catalog/section3
    include catalog/section4
    include catalog/section5
    .popups
        include ../popups/popup-added-basket
    .popups-mobile
        include ../popups-mobile/popup-basket-added
        include ../popups-mobile/popup-sort
        include ../popups-mobile/popup-cat-list
        //include ../popups-mobile/popup-filter
        include ../popups-mobile/popup-kuhnya
        include ../popups-mobile/popup-type
        include ../popups-mobile/popup-price