extends ../layout/main

block variables
    - var title = 'Каталог'
    - var pageClass = 'catalog-page other-page'

block content
    include ../modules/breadcrumbs
    include catalog/section1
    include catalog/section2
    include catalog/section3
    include catalog/section4
    include catalog/section5
