extends ../layout/main

block variables
    - var title = 'FAQ'
    - var pageClass = 'other-page faq-page'

block content
    include ../modules/breadcrumbs
    include faq/section1
    .popups
        include ../popups/popup-question
    .popups-mobile
        include ../popups-mobile/popup-question
