extends ../layout/main

block variables
    - var title = 'Избранное'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    include favourites/section1
    .popups
        include ../popups/popup-added-basket
    .popups-mobile
        include ../popups-mobile/popup-basket-added