extends ../layout/main

block variables
    - var title = 'Страницы'
    - var pageClass = 'other-page'

block content
    include ../modules/breadcrumbs
    section.page--list
        .container
            