extends ../layout/main

block variables
    - var title = 'Отзывы'
    - var pageClass = 'other-page reveiws-page'

block content
    include ../modules/breadcrumbs
    include review/section1
    .popups
        include ../popups/popup-call-sub
        include ../popups/popup-call-sub2
        include ../popups/popup-call-error
        include ../popups/popup-load-video
    .popups-mobile
        include ../popups-mobile/popup-call-sub
        include ../popups-mobile/popup-call-sub2
        include ../popups-mobile/popup-call-error
        include ../popups-mobile/popup-load-video