@media screen and (min-width: 1199.6px)
  .container
    max-width 1170px

@media screen and (max-width: 1366px)
  .section-full-right__img
    right: -11vh;
    height: 335px;
    width: 65vh;
    bottom: -105px;
  .section-full-left__img
    transform: translateX(-25%);
@media screen and (max-width: 1250px)
  .footer-swiper--arrows
    display none

@media screen and (max-width: 1199.5px)
  .section-menu-sidebar--list
    width 260px
  .article-receipt--video
    align-items flex-start
  .popup-tabs--container
    width 84%
  .mw-container
    max-width: 960px;
  .container
    padding 0 15px
  .footer-top-bottom__img
    right 0
  .about-why-us--item
    justify-content flex-start
  .about-why-us--col
    height auto
  .team-about--img
    height 171px
  .team-about--text
    font-size 14px
  .team-about-text--wrap
    padding 20px 10px
    padding-top 10px
  .footer-basket
    transform: translateY(100px);
  .footer-basket-slider--item.swiper-slide .footer-basket-lanch--wrap:before
    bottom 11px
  .footer-basket-slider--item.swiper-slide .footer-basket-lanch--wrap
    transform: translateX(-63%);
  .footer-basket-slider--item.swiper-slide-active .footer-basket-lanch--wrap
    transform: translateX(0%);
  .footer-basket-slider--item.swiper-slide-next .footer-basket-lanch--wrap
    transform: translateX(0%);
  .header-nav--menu__item
    font-size 13px
    margin-right 12px
  .header-logo .icon
    size(110px,75px)
  .header-nav--menu
    margin 0 21px
  .header-phone--link
    font-size 18px
  .slider-main--title
    font-size 36px
  .slider-main--desc
    font-size 15px
  .footer-basket-swiper
    padding-top 52.8%
  .footer-basket-slider--img
    size(60px)
  .footer-basket-slider--title
    font-size 14px
  .footer-basket
    height 100px
  .footer-basket-lanch__img, .header-mini-basket__img
    size(60px)
  .footer-basket-lanch__title
    font-size 13px
  .footer-basket-lanch,.footer-basket-lanch--wrap
    height 370px
    width 520px
  .footer-basket-lanch
    bottom 35px
  .section-menu-sidebar--img
    size(75px)
  .section-menu-sidebar--name
    font-size 15px
  .section-menu-sidebar--item
    height 80px
  .footer-basket-slider--item.swiper-slide-active .footer-basket-lanch--wrap:before
    bottom 11px
  .footer-basket-slider--item.swiper-slide-next .footer-basket-lanch--wrap:before
    bottom 11px
  .section-menu-content--col
    padding 0
  .section-menu-content--name
    font-size 15px
  .section-menu-content--stock
    width 52px
    height 28px
    font-size 13px
  .section-full-baner
    overflow hidden
  .section-full-right__img
    bottom: -94px;
    right: -20vh;
    width: 45%;
    height: 330px;
  .section-full-left__img
    width: 40vw;
    transform: translateX(-36%);
  .section-baner-stock--img
    width 170px
  .section-baner-title
    font-size 28px
  .why-us--desc
    font-size 13px
  .section-title
    font-size 28px
  .p-60-0
    padding 30px 0
  .articles-content-title
    font-size 18px
  .fixed-basket-padding
    padding-bottom 100px
  .articles-content-item:hover .articles-content-img
    background-size 100%
  .catalog-sort--col__sort
    justify-content space-between
  .catalog-sort-select__wrap
    z-index 2
  .catalog-sort--col__sort
    &:nth-child(4)
      .catalog-sort-select__wrap
        z-index 3
    &:nth-child(5)
      .catalog-sort-select__wrap
        z-index 3
  .catalog-page
    .section-menu-sidebar--list
      padding 0
      margin 0
  .card-content-price
    margin-right 20px
  .card-content--left
    width 45%
  .card-content--right
    width 52%
  .card-content-added-one-click
    margin-left 20px
  .card-content-price-and-added
    flex-direction column
    align-items flex-start
  .card-content-price
    margin-bottom 25px
  .card-content-comp
    margin-bottom 15px
  .lanch-components--middle--name
    font-size 12px
  .lanch-components--middle--price
    font-size 12px
  .lanch-components--title
    font-size 13px
  .lanch-components--count
    font-size 12px
  .lanch-components--out
    font-size 15px
  .lanch-components--out__price
    font-size 15px
  .lanch-components--bottom
    .card-content-count--added
      .main-button-transparent
        padding 0
        size(43px)
        .icon
          size(19px)
          fill #fff
    .basket-product--count
      margin-right 0
      padding 0 15px
    .button-basket--product__wrap
      justify-content space-between
  .lanch-components--buttons
    flex-direction column
    .card-content-added-one-click
      width 100%
      margin-bottom 15px
  .section-menu-content--price
    font-size 16px

  .favourites-content .main-button-transparent
    padding 10px 30px
  .basket-promo--wrap
    width 68%
  .basket-free-delivery
    display none
  .section-blog
    .articles-content-col:nth-child(-n+2) .articles-content-img
      min-height 325px
      margin-bottom 0
    .articles-content-img
      min-height 213px
    .w-130
      width 110px
  .article-recept-comp--item
    padding 30px 0
  .lk-themes-add--basket
    font-size 13px
  .lk-themes--left
    width 35%
  .lk-themes--rightч
    width 65%
  .faq-swiper-device--desc
    width: 270px;
    height: 216px;
    .faq-swiper-slide
      padding-right 35px
    .faq-siwper-img
      height 142px
  .lanch-components--bottom .basket-product--count
    width 120px
@media screen and (max-width: 991.5px)
  .tablet-tel--exit
    position fixed
    right 0
    left 0
    bottom 0
    top 0

  .section-menu-sidebar--list
    width 100%
    margin-left 0
  .faq-swiper-tabs--list
    display none
  .footer-middle
    padding 40px 0
  .section-blog .articles-content-col:nth-child(-n+2) .articles-content-item:before
    display none
  .blog-page
    .section-blog .articles-content-col:nth-child(-n+2) .articles-content-img
      margin-bottom 10px
    .articles-content-title
      overflow: hidden;
      -ms-line-clamp: 1;
      -webkit-line-clamp: 1;
      line-clamp: 1;
      display: -webkit-box;
      display: box;
      word-wrap: break-word;
      -webkit-box-orient: vertical;
      box-orient: vertical;
    .section-blog .articles-content-col:nth-child(2)
      .articles-content-img
        margin-bottom 10px
      .articles-content-date
        height auto
        padding 0
      .articles-content-desc
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        -ms-line-clamp: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        display: -webkit-box;
        display: box;
        word-wrap: break-word;
        -webkit-box-orient: vertical;
        box-orient: vertical;
    .section-blog .articles-content-col::last-child
      margin-bottom 0
  .about-us-list--item:first-child
    .why-us--left
      padding-bottom 125px
      padding-top 0
  .about-us-list--item
    .why-us--left
      padding-bottom 0
      padding-top 0
  .popup-swiper-button-prev
    margin-left -23px
  .popup-swiper-button-next
    margin-right -23px
  .popup-swiper-categ--wrap
    display none
  .popup-tabs--container
    width 100%
  .mw-container
    max-width 720px
  .card-content-img
    height 280px
  .section-full-baner
    height 360px
  .planwet-width-load
    width 216px
  .section-menu-sidebar--item
    border none
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  .index-page
    .section-popular
      padding-top 60px
    .section-container--product
      margin-bottom 0
    .section-index-menu
      padding-top 20px
      .section-title.mb-40
        margin-bottom 0px
  .product-basket-added--card
    position absolute
    right 0
    bottom 0
  .footer-top-left
    padding 0
  .section-reviews .section-title--wrap.pb-3
    padding-bottom 0 !important
  .slider-main--video__desc
    right: -606%;
    top: 40%
  .slider-main--item__col
    padding-top 150px
  .my-swiper-pagination
    bottom 40px !important
  .slider-main--video__desc__arrow
    top: 0px;
    left: -122px;
    .icon-planwet-arrow
      display block
    .icon-slider-arrow
      display none
  .section-baner-title
    font-size 22px
  .section-baner-desc
    width 210px
    text-align center
  .articles-content-wrap
    margin-bottom 30px
  //.pt-100
  //  padding-bottom 80px
  .articles-mobile-sidebar--items
    padding 0 10px
    margin 0 -10px
  .article-comments--list__depth2
    padding-left 30px
  .article-recept-comp--item .why-us--left
    align-items center
  .have-question
    width 100%
  .section-delivery-map
    padding-bottom 40px
  .delivery-map--left
    display flex
    flex-direction column
    align-items center
  .delivery-map--title
    text-align center
    max-width 339px
  .delivery-map--desc
    text-align center
    max-width 339px
  .delivery-map--pay__type
    justify-content center
    max-width 339px
  .faq-swiper-device--tablet
    width: 310px;
    height: 400px;
  .faq-swiper-device--tablet .faq-siwper-img
    height: 318px;
  .faq-swiper-device--tablet .faq-swiper-slide
    padding-left: 35px;
    padding-top: 40px;
    padding-right: 20px;
  .faq-content--item__info--title
    text-align center
    font-size 24px
  .faq-icon
    margin-bottom 0
  .lk-order-bottom--swiper
    padding 0
  .lk-swiper-arrows
    display none
  .order-wrapper
    flex-direction column
  .footer-basket-lanch--wrap
    bottom 22px
  .footer-basket-slider--item.swiper-slide .footer-basket-lanch--wrap
    transform: translateX(-63%);
  .footer-basket-slider--item.swiper-slide-active .footer-basket-lanch--wrap
    transform: translateX(0%);
  .footer-basket-slider--item.swiper-slide-next .footer-basket-lanch--wrap
    transform: translateX(-60%);
  .footer-basket-slider--item.swiper-slide-next .footer-basket-lanch--wrap:before
    left: auto;
    right: 63px;
  .header-nav--menu
    display none
  .slider-main--title
      font-size 30px
  .footer-basket-swiper
    padding-top 71.5%
  .section-container--product
    flex-direction column
  .index-menu--sidebar
    padding 0
  .section-menu-sidebar--list
    display flex
    overflow-x scroll
    padding 30px 15px
    padding-bottom 0
    &::-webkit-scrollbar
      height 0
  .section-menu-sidebar--item
    white-space nowrap
    min-width 30.2%
    margin-right 30px
  .section-menu-sidebar--item.active:after
    display none
  .section-menu-content--price
    font-size 16px
  .section-menu-content--price span
    font-size 12px
  .header-mobile-menu--icon
    display block
    cursor pointer
    .icon
      size(36px)
  .header-attr--basket__wrap
    margin-right 20px
  .index-menu-mobile--filter
    display flex
    justify-content space-between
    padding 0
    margin-bottom 30px
    .catalog-sort--col__sort
      margin-bottom 0
      width 48%
    .catalog-sort-search
      width 50%
    .catalog-sort-select
      height 100%
    .catalog-sort-select__wrap
      margin-right 15px
  .catalog-mobile-filter,.catalog-mobile-basket
    display flex
    justify-content center
    align-items center
    background-color colorMain
    cursor pointer
    size(46px)
    min-width 46px
    border-radius 50%
    position relative
    .icon
      size(18px)
      fill #fff
  .catalog-mobile-filter
    margin-right 15px
  .catalog-mobile-basket
    .icon
      size(20px)
    span
      display flex
      justify-content center
      align-items center
      position absolute
      top: -5px;
      right: -4px;
      size(20px)
      border-radius 50%
      border 1px solid #fff
      font-family Rb700
      font-size 12px
      color #fff
      background-color color21
  .section-full-left__img
    width 40vw
    height 330px
    transform: translateX(-38%);
    background-size cover
    background-position right
  .section-baner-stock--img
    width 166px
  .section-full-right__img
    right: -28vh;
    bottom -37px
    width: 40vw;
    height: 290px;
    background-position: left;
  .review-card-video--item__img
    background-position center
    object-position right
  .section-blog--index .articles-content-col
    &:nth-child(3)
      display none
  .section-container-delivery--map
    flex-direction column-reverse
    align-items center
  .delivery-map--right
    flex: 0 0 100%;
    max-width: 100%;
  .delivery-map--left
    flex: 0 0 80%;
    max-width: 80%;
    border-radius 0 0 10px 10px
    margin-top 0
    margin-bottom 0
  .footer-basket-slider--lanch
    line-height 0
  .section-title--v2
    font-size 24px
  .footer-top-desc
    font-size 12px
  .footer-top-bottom__img
    height: 172px;
    bottom: -67.5px;
  .footer-middle--list
    display none
  .footer-middle--list__contact
    flex-direction row
    justify-content space-around
    align-items center
    width 100%
    margin-bottom 40px
  .footer-middle--callback
    margin-bottom 0
  .footer-middle .container
    display flex
    flex-direction column
  .foorer-mobile-category
    display flex
    justify-content space-between
    align-items flex-start
    .footer-middle--list
      display flex
    .footer-middle--title--wrap
      display flex
      align-items center
      justify-content center
      margin-bottom 15px
      cursor pointer
      .footer-middle--title
        margin-right 14px
        margin-bottom 0
      .footer-middle--title__icon
        .icon
          size(10px)
          fill #fff
      .footer-middle--title__icon.active
        .icon
          transform rotate(180deg)
    .footer-middle--item
      display none
  .catalog-title--wrap
    margin-bottom 16px
    .catalog-menu-tabs
      margin-bottom 0
      display flex
    .catalog-title
      margin-right 30px
      margin-bottom 0
  .catalog-sort--col__filter
      display flex
      justify-content center
      align-items center
      margin-bottom 20px
      .catalog-mobile-filter
        margin-right 0
        size(43px)
        max-width 43px
        background-color #f9f9f9
        .icon
          fill rgba(33,33,33,0.4)
  .catalog-sort--col__sort--wrap
    display none
    flex-wrap wrap
    justify-content space-between
    width 100%
  .catalog-sort--margin-b
    margin-bottom 20px
  .catalog-sort--col__filter.active
    .catalog-mobile-filter
      background-color colorMain
      .icon
        fill #fff
  .catalog-page
    .index-menu--sidebar
      display none
    .index-menu--content
      .catalog-menu-tabs
        display none
  .catalog-sort--col__sort
    &:nth-child(3)
      .catalog-sort-select__wrap
        z-index 5
  .z-index-4
    z-index 6
  .footer-basket
    transform: translateY(100px);
  .catalog-desc-p
    font-size 14px
  .catalog-load-more--wrap
    justify-content space-between
  .card-content--left
    width 48%
  .card-content--right
    width 48%
  .card-content-count--added .main-button-transparent
    size(43px)
    padding 0
    .icon
      size(20px)
      fill #fff
  .card-content-time--title
    display none
  .card-content-time--prepare
    width 50%
  .card-content-time--delivery
    width 50%
  .card-content-time--text
    width 100%
    text-align center
  .card-content-composition--link
    display flex
    cursor pointer
  .card-content-composition--list__mobile
    display none
  .card-cart-added--col
    flex: 0 0 100%;
    max-width: 100%;
  .card-cart-added--col-d
    display none
  .card-cart-added--col-m
    display flex

    .card-cart-added--basket
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
      display flex
      justify-content space-between
      align-items center
      flex-direction row
      padding 25px
      .main-button
        width 200px
      .card-cart-added--price__old
        margin-bottom 0
        margin-left 7px
      .card-cart-added--text
        width 185px
        margin-bottom 0
  .card-cart-added--price--wrap
    display flex
    align-items center
  .section-lanch
    .articles-content-wrap
      margin-bottom 0
  .card-content-grid
    grid-gap 30px
    grid-template: "g1 g1 g1 g1 g2 g2" "g1 g1 g1 g1 g3 g3" "g4 g4 g4 g4 g4 g4" "g5 g5 g5 g6 g6 g6" "g7 g7 g7 g6 g6 g6";
  .construct-lanch
    flex-direction column
  .lanch-choise-button
    width 110px
  .section-recom-d
    display none
  .section-recom-m
    display block
  .construct-lanch--components
    padding 0
  .lanch-components--bottom .button-basket--product__wrap
    display none
  .lanch-components--out--wrap
    margin-bottom 0
  .lanch-components--buttons
    flex-direction row
  .lanch-components--buttons .card-content-added-one-click
    width 48%
  .construct-lanch--content
    padding 0
  .favourites-wrapper
    flex-direction column
  .favourite-links--wrap
    flex-direction row
    border-bottom none
    margin-bottom 0
    overflow-x auto

    .favourite-links
      margin-bottom 0
      margin-right 60px
      white-space nowrap
  .favourites-sidebar .lanch-components--stycky .main-button
    display none
  .favourites-load-more
    display flex
    margin 0 auto
  .favourites-content .main-button-transparent.button-basket-active
    padding 0 !important
  .basket-wrapper
    flex-direction column
  .basket-content,.basket-out
    padding 0
  .basket-content
    margin-bottom 30px
  .basket-out,.order-wrapper
    .lanch-components--out--wrap
      margin-bottom 20px
    .lanch-components--title
      font-size 17px
    .lanch-components--count
      font-size 15px
    .lanch-components--out
      font-size 17px
    .lanch-components--out__price
      font-size 17px
  .section-blog
    .articles-content-col:nth-child(-n+2)
      width 100%
    .articles-content-col
      width 50%
      &:nth-child(2)
        width 50%
        .articles-content-date
          backdrop-filter none
          color initial
        .articles-content-link
          display flex
        .articles-content-bottom
          position inherit
          left auto
          top auto
        .articles-content-desc
          display block
        .articles-content-title
          position inherit
          left auto
          top auto
          color color21
        .articles-content-img
          margin-bottom: 10px;
          min-height 213px
  .article-wrapper
    flex-direction column
  .article-content
    padding 0
  .article-sidebar
    display none
  .article-mobile-sidebar
    display block
    margin-bottom 60px
  .article-mobile-sidebar--title
    display flex
    align-items center
    justify-content space-between
    a
      font-family Ow600
      font-size 22px
      color colorMain
  .recept-other-flex
    flex-wrap nowrap
  .article-text
    font-size 13px
  .why-us--left
    display flex
    justify-content center
    align-items center
    width: 32%;
    padding-bottom: 90px;
    padding-top: 45px;
  .why-us--img
    height auto
    padding 0
  .why-us--right
    width 60%
  .article-recept--title
    font-size 22px
  .article-recept-comp--item .article-recept--title:before
    font-size 65px
  .article-recept--title
    margin-top 35px
  .article-recept-inst--img
    size(60px)
  .recept-page
    .content
      background-color #fff
  .reviews-page-list--video
    grid-gap 15px
    grid-template: "g1 g1 g1 g2 g2 g2" "g1 g1 g1 g2 g2 g2" "g3 g3 g4 g4 g5 g5" "g3 g3 g4 g4 g5 g5" "g6 g6 g6 g6 g7 g7" "g6 g6 g6 g6 g7 g7" "g8 g8 g8 g8 g8 g8" "g8 g8 g8 g8 g8 g8" "g8 g8 g8 g8 g8 g8";
  .have-question--tel
    bottom 20px
    left 20px
    right 20px
  .have-question--tel__link
    font-size 20px
  .have-question-form
    padding 0
  .lk-sidebar
    display none
  .lk-content
    padding 0
  .lk-adress-list
    width 100%
  .lk-order-buttons--wrapper
    flex-direction column
    align-items flex-start
    .lk-order-status,.lk-order-button
      min-width 150px
    .lk-order-status
      margin-bottom 10px
  .lk-tab--item
    width max-content
    padding 15px 25px
  .lk-sub-page
    .section-title
      display none
  .index-page
    .why-us--left
      width 30%
    .why-us--right
      width 65%
  .tablet-menu-sandwich
    display block
  .about-us-list--item .why-us--img
    padding 0
  .faq-content--wrap
    display flex
    flex-direction column-reverse
  .faq-content--item__info--wrap
    flex-direction column
  .faq-swiper-device--desc
    margin 0 auto
    margin-bottom 30px
  .faq-sidebar--info
    width 100%
  .faq-sidebar--info
    display flex
    align-items center
  .faq-icon
    width 50%
  .faq-question--info--wrapper
    width 45%
  .faq-sidebar
    padding 0
  .faq-content
    padding 0
  .header-logo .icon
    size(123px,75px)
  .header-card-name-and-price
    flex-direction column
    align-items flex-start
    .header-card-fixed--name
      margin-right 0
  .section-menu-sidebar--list
    position relative
    top auto
    overflow-y hidden
    height auto
  .faq-content--item__info--wrap
    display block
  .faq-swiper--desc
    display none
  .faq-swiper--mobile
    display none
  .faq-swiper--tablet
    display block
  .lk-order-button-retry
    display none
  .lk-order-button-retry--tablet
    display flex
    width 150px
  .lk-order-item
    margin-bottom 20px
  .lk-order-item--wrapper
    margin-bottom 30px
  .lk-wrapper .section-title
    display none
  .lk-content--wrapper .lk-inputs--title
    font-size 24px
  .lanch-page
    .footer-lanch--fast
      display flex
      justify-content space-between
    .footer-basket.active
      transform: translateY(-60px);
    .bg-color-orange
      background-color #FF651D
      color #fff
      height 43px
      z-index 2
    .footer-lanch--count
      display: flex;
      position: relative;
      margin-right: -35px;
      height: 43px;
      border-radius: 21.3px;
      background-color #fff
      width 160px
    .footer-lanch--fast__flex .button-basket--product__wrap
      flex-flow row-reverse
@media screen and (max-width: 880px)
  .section-full-right__img
    right -20vh
@media screen and (max-width: 840px)
  .section-full-right__img
    bottom: -10px
    height: 264px;
    right -15vh
  .section-full-left__img
    transform translateX(-25%)
@media screen and (max-width: 767.5px)
  .footer-basket-lanch__img,.header-mini-basket__img
    min-width 60px
  .basket-content .header-mini-basket__price
    margin-right 20px !important
  .basket-item-depth--item
    .header-mini-basket__right
      width 48% !important
  .basket-item-depth--item .basket-product--count
    margin-right 0
  .delete-active .basket-item-depth--list
    transform: translateX(-56px);
  .footer-basket-lanch__delete, .header-mini-basket__delete
    margin-right 25px
  .popup-mobile-added .order-input
    color rgba(33,33,33,0.4)
  .lk-add-position
    color color21
    border-color color21
  .popup-load-you-file--video
    height 192px
  .popup-file--video--button
    margin 24px 0
  .popup-file--video--button:disabled
    background-color #F9F9F9
  .popup-load-you-file--progress-v
    max-width 100%
  .popup-load-you-file--progress
    color color21
    span
      color colorMain
  .add-video-review
    width 95%
  .lk-adress-deafalt
    margin-top 10px
    span
      font-family Rb400 !important
      font-size 13px !important
  .popup-tabs--item.active
    box-shadow none
  .popup-tabs--container
    padding-bottom 0 !important
  .basket-count-buttons--wrapper.active
    .section-menu-content--price__wrap
      opacity 0
  .popup-complex--list
    flex-wrap wrap
    overflow-y auto
    height calc(100vh - 300px);
    padding-bottom 100px
  .popup-complex--item__info:nth-child(1),.popup-complex--item__info:nth-child(2)
    width 48%
    margin-bottom 16px
  .popup-complex--item__info:nth-child(3)
    width 100%
  .popup-complex--item__title
    color color21
  .popup-complex--item__desc
    color rgba(33,33,33,0.4)
  .popup-complex-fixed
    position fixed
    left 0
    right 0
    bottom 0
    background-color #fff
    padding 16px
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
  .popup-complex-fixed .main-button
    margin-bottom 0 !important
  .popup-complex--item__info:nth-child(2)
    .popup-complex--item__title
      color colorMain
  .popup-complex--item
    display flex
    flex-wrap wrap
    border 1px solid #E9E9E9
  .popup-complex--button
    background-color #F2F2F2
    color color21
    width 100%
    font-family Ow400
  .popup-complex--button.active
    color #fff
  .card-content-complex--button
    background-color #fff
    color colorMain
    margin-bottom 24px
    height 40px
  .section-menu-content--recommend
    box-shadow none
    border 1px solid colorMain
    font-size 13px
    padding 0px 10px
  .popop-code--wrap
    padding 32px 0
    justify-content center
    .popup-input
      background-color #F9F9F9
      color color21
      &::placeholder
        color color21
  .popup-header--desc--mobile
    max-width 256px
    margin 0 auto
    text-align center
    font-family Rb400
    font-size 13px
    color color21
    span
      color colorMain
  .popup-login--title
    color color21
    font-size: 13px
  .popup-login--item
    size(32px)
    .icon
      size(17px)
  .popup-tabs--item
    height 40px
    color color21
  .popup-tabs--item.active
    background-color transparent
    color color21
  .popup-tabs--container
    padding 15px 15px
  .popup-body-bold--desc
    font-size 14px
    color color21
  .popup-body-bold--text2
    color colorMain
    font-size 20px
  .popup-body-bold--text
    color colorMain
    font-size 20px
    width 230px
  .team-about--img
    height 195px
  .index-menu--content
    overflow hidden
  .section-about-us
    padding 20px 0
  .favourites-load-more
    margin-bottom 80px
  .main-slider
    display none
  .header-relative
    display none
  .section-title
    text-align left
  .content
    background-color #F9F9F9
  .index-menu-mobile--filter
    display none
  .footer-middle
    display none
  .footer-top .container
    flex-direction column
  .footer-top-bottom
    display none
  .footer-basket
    display none
  .section-menu-sidebar--item
    min-width 41%
  .section-index-menu .section-title
    margin-bottom 0px
  .section-menu-sidebar--list
    padding-top 20px
    margin 0
    padding-left 0
  .index-menu--content .section-menu-content--list
    flex-wrap nowrap
    padding-top 30px
  .section-menu-content--item
    background-color #fff
  .section-menu-sidebar--item
    margin-bottom 0
  .section-menu-content--col
    height auto
  .swiper-arrows
    display none
  .section-title--wrap
    justify-content flex-start
  .section-content-tabs, .slider-container
    margin 0
  .p-60-0
    padding 15px 0
  .section-container--product
    margin-bottom 0
  .section-full-left__img
    display none
  .section-full-right__img
    height 170px
    bottom: 169px;
    right -25vw
  .section-full-baner
    overflow hidden
  .section-full-baner::-webkit-scrollbar
    height 0
  .section-menu-content--col.swiper-slide
    height 100%
  .section-baner-stock--img
    width 240px
  .review-swiper-arrows
    display none !important
  .review-card-review--col
    padding 0
  .review-card-review__top
    flex-direction column
    align-items flex-start
  .reviews-slider-comment-rating
    padding 0
  .review-card-review__left
    margin-bottom 5px
  .review-video-tab--slider:before
    display none
  .review-video-tab--slider:after
    display none
  .section-blog--index
    .section-title--wrap
      flex-direction column
      align-items flex-start
    .section-title
      margin-bottom 8px !important
  .mobile-index-blog--slider
    .articles-content-wrap
      flex-wrap nowrap !important
  .section-blog--index .articles-content-col:nth-child(3)
    display block
  .mobile-delivery-icon--slider
    .section-container-delivery
      flex-wrap nowrap !important
  .fixed-basket-padding
    padding-bottom 0
  .pt-100
    padding-top 0
  .header-mobile-search
    display flex
  .section-index-menu
    margin-top 64px
  .footer-top-left
    margin-bottom 15px
  .footer-bottom
    display none
  .footer-mobile-menu--fixed
    display flex
  .delivery-map--right
    height 400px
  .mobile-delivery-pagination
    bottom 0px !important
    width 100%
  .mobile-delivery-pagination
    display flex
  .popup-basket-notific
    .section-menu-content--item
      background-color transparent
  .popup-arrow-notific
    display none
  .catalog-page
    .section-menu-content--list
      flex-wrap wrap
      .section-menu-content--col
        padding 0 15px
  .breadcrumb
    display none
  .catalog-found-sort--block
    display none
  .index-page-mobile
    .header-m-filter--icon
      display flex
    .header-m-back
      display none
    .header-m-search--icon
      left 40px
  .header-m-filter--icon
    display none
  .header-m-back
    display flex
    justify-content: center;
    align-items: center;
    padding: 17px;
    margin-right: -17px;
    cursor pointer
    .icon
      size(22px,18px)
      fill color21
  .header-m-search--icon
    left 78px
  .catalog-title--wrap .catalog-menu-tabs
    display none
  .catalog-sort--wrapper
    display none
  .catalog-page
    .index-menu--content
      padding-left 0
  .catalog-sort-block--mobile
    display flex
    justify-content space-between
    align-items center
    background-color #fff
    padding 16px
  .catalog-sort-block--mobile--left
    cursor pointer
    span
      font-family Rb400
      font-size 13px
      color rgba(33,33,33,0.4)
      margin-right 7px
    .icon
      size(10px)
      fill rgba(33,33,33,0.4)
  .catalog-sort-block--mobile--right
    display flex
    align-items center
  .catalog-sort-block--mobile--list,.catalog-sort-block--mobile--filter
    display flex
    justify-content center
    align-items center
    cursor pointer
    .icon
      size(24px)
      fill rgba(33,33,33,0.4)
  .catalog-sort-block--mobile--list
    margin-right 16px
    .icon
      fill rgba(33,33,33,1)
  .popups-mobile
    display block
  .fmm-basket:hover .footer-mobile-menu--icon .icon
    fill #fff
  .mbm-15
    margin-bottom 15px
  .popup-header
    padding-top 9px

  .popup-input
    font-family Rb400 !important
  .popup-body.p-40-70
    padding 0px 40px
  .popup-input--wrapper label
    display none
  .popup-input--wrapper
    margin-bottom 16px
    &:last-child
      margin-bottom 30px
  .popup-footer
    padding 0 40px
    .main-button
      width 100%
  .popup-not-reg
    text-align center
    color color21
    font-size 13px
    display flex
    flex-direction column
    align-items center
    span
      font-size 13px
  .popup-header--title
    color colorMain
    font-size 18px
  .popup-basket-notific .section-menu-content--col
    height calc(100vh - 220px)
  .section-menu-content--img__mobile
    height: auto;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
  .section-menu-sidebar--img
    size(60px)
    margin-right 5px
  .modal
    display none !important
  .modal-backdrop
    display none !important
  header
    position fixed
  .header-fix
    animation-name none
  .popup-basket-notific .section-menu-content--name, .popup-basket-notific .section-menu-content--desc, .popup-basket-notific .section-menu-content--price
    color color21
  .section-menu-content--col.swiper-slide-active
    .section-menu-content--item
      box-shadow: 0px 0px 30px rgba(0,0,0,0.06);
  .section-menu-content--col
    margin-bottom 24px
  .section-menu-content--col.swiper-slide
    height auto
  .popup-header--desc
    color rgba(33,33,33,0.4)
    font-size 13px
  .popup-basket-notific .button-basket--product
    color colorMain
    border 1px solid colorMain
  .popup-basket-notific .basket-product--minus, .popup-basket-notific .basket-product--plus, .popup-basket-notific .basket-product--input
    color #a6a6a6
  footer
    padding-bottom 65px
  .catalog-sort-block--mobile
    margin-bottom 30px
  .catalog-page
    .index-menu--sidebar
      display flex
  .section-bottom-pagination
    display none
  .header-card-fixed
    display none !important
  .modal-open
    overflow visible
  .card-content-wrapper
    flex-direction column
  .card-content--left
    width 100%
    padding 0
  .card-content--right
    width 100%
    padding 0
  .card-content-img
    border-radius 0
  .card-content-time--prepare--delivery
    background-color #fff
  .card-content-time--prepare
    background-color #fff
    border 1px solid rgba(33,33,33,0.1)
  .card-content--right
    display none
  .card-content--mobile
    display block
  .card-content-swiper
    margin-bottom 10px
  .card-content-filling--item
    height 40px
    padding 12px 15px
    border 2px solid #E3E3E3
    border-radius 23.5px
    margin-right 10px
    white-space nowrap
  .card-content-filling--item.active
    border 2px solid colorMain
  .card-content-filling--list
    justify-content flex-start
    overflow-x auto
  .card-content-mobile--tabs
    display flex
    align-items center
    overflow-x auto
    background-color #fff
    border-radius 10px
    height 40px
  .card-content-mobile--tabs__wrap
    display block
  .card-content-mobile--tabs__item
    display flex
    align-items center
    justify-content center
    font-family Ow400
    font-size 14px
    color rgba(33,33,33,0.3)
    padding 3px 15px
    cursor: pointer;
    border-right 1px solid rgba(33,33,33,0.1)
    &:last-child
      border-right none
  .card-content-mobile--tabs__item.active
    color color21
  .card-content-filling--wrap
    margin-bottom 24px
  .card-content-mobile--tabs__content--item
    padding 15px
    display none
  .card-content-mobile--tabs__content--item.active
    display block
  .card-content-comp
    margin-top 8px
  .section-lanch
    background-color #fff
    .section-title--wrap
      flex-direction column
      align-items flex-start
      margin 0 -15px
    .section-title
      margin-bottom 15px !important
      padding-left 15px
    .review-button-tabs
      overflow-x auto
      padding 15px
    .review-button-tab
      white-space nowrap
    .section-content-tab
      padding 25px 0
      margin-top -25px
  .card-cart-added--col-m .card-cart-added--basket
    flex-wrap wrap
    box-shadow none
    border 1px solid rgba(33,33,33,0.1)
  .card-cart-added--col-m .card-cart-added--basket .main-button
    width 100%
  .card-cart-added--col-m .card-cart-added--basket .card-cart-added--text
    margin-bottom 16px
  .card-cart-added--price
    margin-bottom 0
  .card-cart-added--price--wrap
    margin-bottom 16px
  .card-content-img
    background-position center
  .card-swiper-pagination
    display flex
  .popup-header--title--v2
    color color21
    font-size 22px
  .popup-header--desc--v2
    color rgba(33,33,33,0.4)
    font-size 13px
  .popup-header--desc--v2
    &:last-child
      color color21
      font-family Rb500
      font-size 14px
  .popup-svg-icon .icon
    width: 175px;
    height: 125px;
  .card-header-fixed--added
    .footer-mobile-card-b--fixed
      display flex
      box-shadow: 0px -4px 20px -10px rgba(0, 0, 0, 0.05);
  #custom-popup-mobile-basket .section-menu-content--col,#custom-popup-mobile-garnir .section-menu-content--col,#custom-popup-mobile-card-update .section-menu-content--col
    height auto
  .lanch-page
    .footer-mobile-card-lanch-fixed
      display flex
      box-shadow: 0px -4px 20px -10px rgba(0, 0, 0, 0.05);
      transform translateY(-50vh)
      transition all linear .5s
      will-change transform
      .mobile-mini-bakset-added--button
        width 136px
        color #fff
        font-family Ow400
        font-size 13px
        height 40px
        border-radius 23px
        padding 12px 25px
        right -100px
    .footer-mobile-card-lanch-fixed.active
      transform translateY(0)
  .lanch-page
    .mobile-lanch-list--show
      display flex
      justify-content center
      align-items center
      size(40px)
      background-color colorMain
      padding 0
      .icon
        size(18px)
        fill #fff
  .mobile-lanch-basket--comp
    absolute-center()
    left auto
    right 16px
    .icon
      size(15px)
      fill colorMain
  .mobile-lanch-basket--comp.active
    .icon
      transform rotate(180deg)
  .mobile-lanch-basket--depth
    position relative
    display none
    background-color #F8F8F8
    padding-top 15px
    margin-top -15px
    border-radius 10px
  .mobile-mini-basket--item--lanch__wrap
    margin-bottom 16px
    .mobile-mini-basket--item
      margin-bottom 0
      z-index 2
      background-color #fff
  .mobile-lanch-basket--depth--item
    display flex
    align-items center
    position relative
    margin  16px
    border-bottom 1px solid rgba(0,0,0,0.1)
    padding-bottom 16px
    &:last-child
      border-bottom 0
  .popup-mobile-header--wrap
    display flex
    justify-content space-between
    align-items center
    width 100%
  .mobile-lanch-basket--comp--delete
    position absolute
    right 0px
    bottom 25px
    .icon
      size(24px)
      fill #FF2525
  .lanch-page footer,.card-header-fixed--added footer
    padding-bottom 65px
  .section-recommend2 .catalog-desc-p
    font-size 13px
    padding 0
    line-height 1.7
  .catalog-page .button-basket--product__wrap .button-basket--product,.favourites-content .button-basket--product__wrap .button-basket--product
    size(35px)
    padding 0
    background-color colorMain

    .icon
      size(19px)
      fill #fff
  .favourites-content
    padding 0
    justify-content space-between
    margin 0
    .section-menu-content--col
      padding 0 15px
  .favourites-sidebar
    padding 0
  .basket-content .header-mini-basket__item
    background-color #fff
  .basket-content .header-mini-basket__left
    width 52%
  .basket-promo-input
    background-color #F2F2F2
  .basket-promo
    flex-direction column
  .basket-promo--wrap
    width 100%
    margin-right 0
    margin-bottom 20px
  .create-theme
    width 100%
  .basket-out
    .lanch-components--block
      background-color #fff
  .section-order-out
    background-color #fff
  .order-tabs .order-tab
    width 100%
    margin-right 0
  .pay-tabs--wrap .tab-item
    margin-right 0
  .pay-back-card
    position relative
    background-color #fff
  .pay-front-card
    background-color #fff
  .pay-card--wrapper
    flex-direction column
  .pay-card--col .main-button
    margin-bottom 40px
  .section-blog
    padding-bottom 30px
    .section-title--wrap
      flex-direction column
      align-items flex-start
    .articles-content-wrap
      padding-left 0
    .section-title
      margin-bottom 15px !important
    .review-button-tabs
      overflow-x auto
    .review-button-ta
      white-space nowrap
    .articles-content-col:nth-child(2) .articles-content-img
      min-height 176px
    .articles-content-img
      min-height 176px
  .article-page
    .content
      background-color #fff
    .articles-content-img
      min-height 176px
    .articles-mobile-sidebar--items
      padding 0 10px
    .section-title--article
      font-size 26px
  .article-receipt--video
    flex-direction column
  .article-recept-comp--item
    .section-container
      flex-direction column
    .why-us--left
      width 100%
      padding 0
    .why-us--right
      width 100%
  .article-receipt--video__img
    padding 0
    margin-bottom 25px
  .article-receipt--video__text
    padding 0

  .article-recept-comp--item:nth-child(2n - 1) .section-container
    flex-flow column
  .recept-other-flex--wrap
    .articles-content-col
      padding 0
  .recept-other-flex
    padding-left 15px
  .section-recept-other
    background-color #f9f9f9
    padding 20px 0
  .reveiws-page
    .section-reviews--page
      padding-bottom 60px
  .reviews-nav--wrap
    flex-direction column
    align-items flex-start
    margin-bottom 0
  .reviews-page-list--video
    padding 0
    grid-template: "g1 g1 g1 g1 g1 g1 g1 g1" "g2 g2 g2 g2 g2 g2 g2 g2" "g3 g3 g3 g3 g3 g3 g3 g3" "g4 g4 g4 g4 g4 g4 g4 g4" "g5 g5 g5 g5 g5 g5 g5 g5" "g6 g6 g6 g6 g6 g6 g6 g6" "g7 g7 g7 g7 g7 g7 g7 g7" "g8 g8 g8 g8 g8 g8 g8 g8";

  .about-us-list--item
    flex-direction column

  .why-us--left
    width 100%
    padding 0
  .why-us--right
    width 100%
  .about-us-list--item:nth-child(2n)
    flex-flow column
  .have-question
    flex-direction column
  .have-question--right
    width 100%
  .have-question--left
    width 100%
    //height 300px
    background-position center 17%
  .have-question--title,.have-question--desc
    display none
  .have-question--left
    padding-top 20px
    .have-question--title,.have-question--desc
      display block
      color #fff
  .have-question--tel
    position relative
    left auto
    right auto
    bottom auto
    margin 20px
  .section-about-us
    background-color #fff
  .section-why-us--swiper
    .swiper-wrapper
      flex-wrap nowrap
      margin 0
      padding-top 25px
  .section-why-us
    .section-title
      margin-bottom 0
  .about-us-page
    .section8.section-delivery,.section4.section-team,.section9.section-delivery-map
      background-color #fff
  .lk-page
    .section-title
      display none
    .lk-link-go-back--wrap
      display flex
      background-color #fff
      margin-bottom 16px
      padding 19px 25px
    .lk-link-go-back
      display flex
      align-items center
      .icon
        size(22px,18px)
        fill color21
        margin-right 15px
      span
        font-family Ow500
        font-size 17px
        color color21
  .lk-wrapper
    background-color #fff
    padding 20px 0
  .li-inputs--container .main-input--wrap
    width 48%
  .lk-title-mobile-d
    display none
  .lk-adress-item
    width 100%
  .lk-adress-item--wrap
    width 100%
    margin-bottom 48px
  .lk-adress-deafalt--button
    top 100%
    transform: translate(-50%, 65%);

  .lk-page-address
    .lk-wrapper
      background-color #F9F9F9
      padding 0
    .lk-adress-item
      background-color #fff
      border none
    .lk-adress-add
      background-color transparent
      border: 1px dashed rgba(33, 33, 33, 0.25);
      margin-bottom 30px
    .lk-adress-item
      height auto
      color rgba(33,33,33,0.6)
  .lk-tab-title--wrap
    width 100%
  .lk-tab--item
    width 48%
  .lk-order-top
    flex-direction column
  .lk-order-top--left
    width 100%
    justify-content space-between
    align-items flex-start
    margin-bottom 16px
  .lk-order-top--right
    width 100%
    justify-content space-between
  .lk-order-right--wrap
    flex-direction row-reverse
    justify-content space-between
    .lk-order-price
      margin-bottom 0
  .lk-order-products--item
    width 48%
  .lk-themes--item
    flex-direction column
  .lk-themes--left,.lk-themes--right
    width 100%
  .lk-themes--left
    margin-bottom 20px
  .popup-theme-buttons--footer
    .main-button-transparent,.main-button
      height 49px
      font-family Ow400
      font-size 14px
      width 48%
  .mobile-theme-list--wrap
    padding 16px
    padding-bottom 94px
    .mobile-mini-basket--item
      flex-direction column
      display flex
    .mobile-theme-list--top
      display flex
      align-items center
      width 100%
      margin-bottom 8px
    .mobile-mini-basket--img
      size(48px)
  .mobile-theme-list--bottom
    display flex
    justify-content space-between
    align-items center
    width 100%
  .mobile-theme-price
    font-family Ow500
    font-size 17px
    color color21
  .popop-theme-edit--name
    margin 0 16px
    .popup-input
      margin-bottom 0
      color color21
  .popup-mobile-added
    .order-input
      background-color #F9F9F9
      &::placeholder
        color rgba(33,33,33,0.3)
    .order-input--icon
      .icon
        fill colorMain
    .order-checkbox-everyday--check
      background-color #f9f9f9
    .order-checkbox-everyday
      margin-bottom 15px
      span
        color color21
        font-family Rb500
        font-size 14px
  .p-0-16
    padding 0 16px
  .index-page .section-why-us
    display none
  .why-us--img
    padding 60px
    padding-bottom 0
    padding-top 0
  .about-us-list--item .why-us--img
    padding 20px 80px
  .header-mobile-sandwich-menu
    display flex
    justify-content center
    align-items center
    padding-right 15px
    .icon
      size(32px)
      fill color21
  .header-m-filter--icon
    right 80px
  .popup-textarea
    background-color #f9f9f9
    font-family Rb400
    color color21
    outline none
    &::placeholder
      color rgba(33,33,33,0.4)
  #custom-popup-mobile-add-review
    .popup-input--wrapper label
      color color21
      display block
      font-family Rb500
  .popup-mobile-added
    .popup-header--desc
      text-align center
  .mobile-lanch-list--show
    position fixed
    right 16px
    bottom 74px
    size(35px)
    border 1px solid #fff
    z-index 200
    .icon
      size(17px)
  .mobile-lanch-search--button
    display flex
    justify-content center
    align-items center
    background-color colorMain
    border-radius 50%
    size(40px)
    min-width 40px
    padding 0
    .icon
      size(17.5px)
      fill #fff
  .mobile-lanch-search--fixed
    display block
    transform translateY(-100vh)
    transition .4s ease
  .mobile-lanch-search--fixed.active
    transform translateY(0)
  .mobile-lanch-search--content--wrap
    transform translateY(-100vh)
    transition .4s ease
    will-change transform
  .mobile-lanch-search--content--wrap.active
    transform translateY(0)
  .section-faq
    padding-bottom 50px
  .faq-swiper-device--desc
    width: 322px;
    height: 258px;
    .faq-swiper-slide
      padding-right 229px
    .faq-siwper-img
      height 174px

  .faq-swiper-device--tablet .faq-swiper-slide
    padding-right 324px
  .faq-swiper-device--mobile .faq-swiper-slide
    padding-right 396px
  .product-basket-added--card
    position relative
    width 100%
  .product-basket-product--count
    background-color #fff
  .product-basket-product--count
    width 100%
    .basket-product--input
      width 100%
  .button-basket--product--v2__wrap .product-basket-product--count
    transform translateX(0)
    height 40px
  .product-card-basket--active .section-menu-content--price__wrap
    opacity 0
  .catalog-page
    .product-basket-added--card
      position relative
      width auto
    .product-basket-product--count
      background-color #fff
    .product-basket-product--count
      width 135px
      .basket-product--input
        width 28px
    //.button-basket--product--v2__wrap .product-basket-product--count
    //  transform translateX(100px)
    //  height 40px
    .product-card-basket--active .section-menu-content--price__wrap
      opacity 1
  .card-header-fixed--added
    footer
      padding-bottom 64px
  .section-grid
    padding-bottom 30px
  .catalog-desc-p
    padding 0 !important
  .tablet-menu-sandwich
    display none !important
  .tel-menu-sandwich
    display block
    width 85%
    .header-phone--attr
      margin-right 0
  .footer-mobile-card-lanch-fixed
    .product-basket-added--card
      position relative
      //width 40px
      transition .3s ease
    .product-basket-added--card.product-basket-count--hover
      width 140px
    .product-basket-product--count
      .basket-product--input
        width 28px
    .button-basket--v2
      size(40px)
  .footer-mobile-card-lanch--one__click
    display flex
    justify-content center
    align-items center
    background-color #f9f9f9
    font-family Ow400
    font-size 12px
    color color21
    height 38px
    padding 15px 8px
    border-radius 21.5px
    width 100%
    margin-right 5px
    transition .3s ease
  .foorder-added-and-search--wrap
    display flex
    align-items center
    .product-basket-added--card
      margin-right 16px
  .card-header-fixed--added
    .footer-mobile-card-lanch-fixed
      display flex
      transform: translateY(-50vh);
      transition .3s ease
    .footer-mobile-card-lanch-fixed.active
      transform translateY(0)
  .pay-info--wrap
    padding 0 15px
  .tel-menu-sandwich
    .header-logo
      .icon
        size(80px,30px)
    .tablet-menu--top
      padding-bottom 10px
  .pt-100
    padding-bottom 65px
  .faq-content--item__info--wrap
    display block
  .faq-swiper--desc
    display none
  .faq-swiper--mobile
    display block
  .faq-swiper--tablet
    display none
  .section-baner-stock--img
    width 160px
  .section-full-baner
    height 400px
  .section-full-right__img
    background-size contain
    bottom 144px
  .article-comments--title
    margin-bottom 20px
  .article-comments--item__date
    font-size 14px
  .article-comments--item__comment
    font-size 14px
  .article-comments--item__comment
    span
      display: -webkit-box;
      display box
      padding-bottom 0
      overflow: hidden;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      word-wrap: break-word;
      color: rgba(33,33,33,.6);
      -o-text-overflow: ellipsis;
      -ms-line-clamp: 5;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;
      box-orient: vertical;
      transition .3s ease
  .article-comments--item__comment.active
    span
      line-clamp:99;
      -webkit-line-clamp: 99
  .article-comments--item__comment .review-card-review--showmore
    padding-top 10px
  .pay-yandex .pay-card--price
    width 100%
  .pay-card--input__back
    width max-content
    margin 0 auto
    float none
  .catalog-desc-p
    display: -webkit-box;
    display box
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    word-wrap: break-word;
    -o-text-overflow: ellipsis;
    -ms-line-clamp: 7;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    margin-bottom 8px
  .section-recom-m .review-card-review--showmore
    margin-bottom 15px
  .catalog-desc-p.active
    -ms-line-clamp: 99;
    -webkit-line-clamp: 99;
    line-clamp: 99;
  .close-mobile--popups
    position fixed
    left 0
    right 0
    bottom 0
    top 0
    z-index 200
  .close-mobile--popups.active
    display block
  .card-content-mobile--tabs__item
    width 48%
  .review-card-review--showmore,.review-card-review--showmore2
    display block
  .basket-el-selector
    flex-direction column
    .section-menu-content--price__wrap
      margin auto auto auto 0
      margin-bottom 15px
  .foorder-added-and-search--wrap
    flex-direction row
  .lanch-choise-button,.lanch-choise-product--wrap
    width 100%
  .popup-header--title
    text-align center
  .catalog-page
    .basket-el-selector
      flex-direction row
    .section-menu-content--price__wrap
      margin-bottom 0
    .popup-basket-notific
      .basket-el-selector
        flex-direction column
      .section-menu-content--price__wrap
        margin-bottom 15px
@media screen and (max-width: 575.5px)
  .lk-order-top
    flex-direction row
    .lk-order-title--wrap
      margin 0 !important
    .lk-order-top--left
      margin 0
  .lk-link-go-back--wrap
    .container
      padding 0
  .lk-order-status
    display none
  .lk-order-delivery-date
    display none
  .lk-order-middle
    display block
    padding 16px
    .lk-order-delivery-date
      display block
      margin-bottom 8px
    .lk-order-status
      display flex
      width max-content
      min-width 120px
  .lk-inputs--title--wrap__mobile
    margin 0 -15px
  .lk-tab-title--mobile
    display flex
    align-items center
    justify-content space-between
    flex-direction row !important
    background-color #fff
    padding 8px 0

    .lk-tab--item,.review-button-tab
      position relative
      width 50%
      background-color transparent !important
      box-shadow none !important
      margin-bottom 0 !important
      font-family Ow400
      font-size 14px
      color rgba(33,33,33,0.3) !important
      border-right 1px solid rgba(33,33,33,0.1)
      border-radius 0
      height 30px
      &:last-child
        border-right 0

    .lk-tab--item.active,.review-button-tab.active
      color color21 !important


  .lk-order-button-retry--tablet
    width 100%
    height 40px
  .card-cart-added--text
    display none
  .card-cart-added--text-2
    display block
    font-family Ow600
    font-size 14px
    color color21
    margin-bottom 16px
    padding-right 30px
  .card-cart-added--price--wrap
    .card-cart-added--price
      color color21
      font-size 16px
      margin-left 10px
    .card-cart-added--price__old
      font-size 13px
  .card-cart-added--col-m
    .card-cart-added--basket
      border none
      box-shadow none !important
      padding 0
  .section-full-right__img
    background-size contain
  .articles-mobile-sidebar--items
    margin 0
  .index-menu--content .section-menu-content--list
    margin 0
  .section-container
    margin 0 -15px
  .index-menu--content
    padding-left 15px
  .section-menu-sidebar--list
    padding-left 15px
  .section-menu-sidebar--item
    height 60px
    min-width max-content
    margin-right 16px
  .review-button-tab
    font-family Rb400
    font-size 12px
    width max-content
    height 40px
    background-color #f2f2f2
  .index-menu--content .section-menu-content--list
    padding-top 16px
  .section-menu-content--col.swiper-slide-active
    .section-menu-content--item
      box-shadow: 0px 0px 30px rgba(0,0,0,0.06);
  .section-menu-content--col
    margin-bottom 24px
  .section-menu-content--col.swiper-slide
    height auto

  .section-index-menu
    .main-button
      font-size 14px
      width 92%
  .section-title
    font-size 25px
  .swiper-sliders-container
    padding-left 15px
  .pt-40
    padding-top 16px
  .section-full-banet--container
    margin 24px 0
    padding 0
    padding-bottom 24px
    padding-top 24px
  .section-baner-stock--img
    width 160px
  .section-baner-title
    font-size 24px
  .section-baner-desc
    text-align center
  .section-full-right__img
    transform: translateX(-10px);
    bottom: auto;
    top: -28px;
    height 120px
  .review-button-tabs
    width 100%
  .review-button-tab
    margin-right 16px
  .section-reviews
    .review-button-tab
      width 50%
    .section-title
      margin-bottom 10px !important
  .review-tab
    .swiper-wrapper
      padding 15px 0
      margin-bottom 15px
    .main-button
      font-size 14px
      width 95%
      margin-right 15px !important
  .section-content-tabs
    margin 0 -15px
  .section-reviews .section-content-tab
    padding-left 15px
  .review-card-review__top
    flex-direction row
    align-items center
  .review-card-review__name
    word-break break-word
  .review-video-tab
    padding-right 15px
    .swiper-wrapper
      padding 25px 0
      margin-bottom 15px
    .main-button
      font-size 14px
      width 95%
  .section-blog--index
    padding 0
    margin-bottom 30px
    .articles-content-col
      padding 0
    .section-title--wrap
      margin-bottom 16px !important
  .articles-content-wrap
    padding-left 15px
    margin-bottom 24px
  .articles-content-img
    min-height 183px
  .mobile-index-blog--slider
    .main-button
      width 92%
      font-size 14px
  .delivery-map--right
    height 350px
    border-radius 0
  .delivery-map--left
    background-color #fff
    flex: 0 0 90%;
    max-width: 90%;
    text-align center
  .delivery-map--pay__item
    background-color #f9f9f9
  .fixed-basket-padding
    padding-bottom 65px
  .modal-dialog
    margin 0
  .popup-content
    border-radius 10px 10px 0 0
    backdrop-filter none
    background-color #fff
  .popup-header--close__wrap
    display none
  .popup-basket-notific .section-menu-content--name, .popup-basket-notific .section-menu-content--desc, .popup-basket-notific .section-menu-content--price
    color color21
  .section-menu-content--desc
    color rgba(33,33,33,0.6) !important
  .popup-basket-notific .section-menu-content--col
    padding 0
  .popup-basket-notific .swiper-wrapper
    padding-left 15px
  .popup-body
    padding 0
  .modal-dialog
    transition none
  .modal-dialog-centered
    position absolute
    width 100%
    bottom 0
    min-height auto
    height calc(100% - 100px)
    transition none !important
  .modal-content
    height 100%
  .modal
    top 0
    bottom 0
    height 100%
    overflow hidden !important
    .section-menu-content--img
      min-height 140px
      height 30vh
  .popup-basket-notific .section-menu-content--col
    height calc(100vh - 220px)
  .section-menu-content--img__mobile
    height: auto;
    width: 80%;
    object-fit: cover;
    margin: 0 auto;
  .section-menu-sidebar--img
    size(60px)
    margin-right 5px


  .fmm-basket:hover .footer-mobile-menu--icon .icon
     fill #fff
  .popup-mobile-title
    margin-bottom 16px
  .popup-header--v2
    .popup-mobile-title
      margin-bottom 0
  .popup-reset-filter
    padding-bottom 16px
  .catalog-desc-p
    padding 0 15px
  .catalog-page .section-menu-sidebar--list
    padding-left 15px
  .catalog-sort-block--mobile
    margin-bottom 15px

  .catalog-page
    .index-menu--content
      .section-menu-content--item__top
        flex-direction row
      .section-menu-content--img
        size(88px)
        min-height 88px
        min-width 88px
        margin-right 8px
      .section-menu-content--stock
        left 0
        top 0
        height 24px
  .catalog-load-more--wrap
    padding 0 15px
    justify-content center
    margin-bottom 15px
  .catalog-sort-block--mobile .container
    padding 0
  .card-cart-added--col-m
    padding 0 15px
  .card-cart-added--col-m .card-cart-added--basket .card-cart-added--text
    width 150px
  .card-cart-added--price
    font-size 23px
  .card-cart-added--price__old
    font-size 17px

  .card-content-img
    height 256px
  .card-content-swiper
    margin 0 -15px
    margin-bottom 15px
  .card-content-filling--list
    margin 0 -15px
    padding-left 15px
  .card-content-mobile--tabs
    margin 0 -15px
    border-radius 0
    padding-left 15px
  .card-review-top--wrap
    .section-title--wrap
      display none
  .swiper-lanch-container .swiper-wrapper
    padding-left 15px
  .lanch-construct-tabs
    margin: 15px -15px 0
    padding-left 15px
  .lanch-components--buttons .card-content-added-one-click
    width 100%
    &:first-child
      display none
  .favourites-sidebar
    .lanch-components--top
      display none
    .lanch-components--block
      border-radius 0
      background-color #fff
    .lanch-components--block
      padding 8px 0px

  .favourite-links--wrap
    padding-top 0
    padding-left 15px
  .favourite-links
    display flex
    justify-content center
    align-items center
    border 1px solid #EEEEEE
    border-radius 23.5px
    margin-right 8px !important
    height 40px
    padding 15px 25px
    color color21

  .favourite-links.active
    border 1px solid colorMain
    font-family Rb500
  .favourites-content--list
    margin 0
  .favourites-content
    .section-menu-content--item__top
      flex-direction row
    .section-menu-content--img
      width: 88px;
      height: 88px;
      min-height: 88px;
      min-width: 88px;
      margin-right: 8px;
    .section-menu-content--stock
      left: 0;
      top: 0;
      height: 24px;
  .favourites-load-more
    margin-bottom 30px
    width 92%
  .basket-content
    .header-mini-basket__item
      flex-direction column
      position relative
      z-index 2
      transition .2s ease
    .basket-content-mini-basket__item.delete-active
      .header-mini-basket__item
        transform translateX(-56px)
    .header-mini-basket__left
      width 100%
    .header-mini-basket__right
      width 100%
    .header-mini-basket__delete
      display none
    .basket-header-mini-basket__delete
      position absolute
      background-color #FF4F4F
      height calc(100% - 20px)
      absolute-center()
      display flex
      justify-content center
      align-items center
      left auto
      right -28px
      width 56px
      border-radius: 0px 10px 10px 0px;
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
      .icon
        fill #fff
        size(24px)
    .header-mini-basket__price
      margin-right 0
  .basket-content-mini-basket__item
    position relative
  .order-out-form
    .main-input--wrap
      .w-48
        width 100%
  .order-out-block .header-mini-basket__right
    justify-content flex-end
  .order-data-time
    flex-direction column
    .order-input--wrap
      width 100%
  .pay-front-card,.pay-back-card
    width 100%
  .pay-card--wrapper
    margin 0 -15px
  .pay-back-card
    top 0
    margin-top 30px
    margin-bottom 30px
    border-radius 0
  .pay-front-card
    border-radius 0
  .section-blog
    .articles-content-col
      width 100%
    .articles-content-col:nth-child(2)
      width 100%
    .articles-content-col:nth-child(1)
      .articles-content-img
        min-height 176px
        max-height 380px
        margin-bottom 10px
      .articles-content-bottom
        position inherit
        left auto
        top auto
      .articles-content-link
        display block
      .articles-content-date
        color color21
      .articles-content-title
        position inherit
        color color21
      .articles-content-desc
        display block
    .articles-content-img
      max-height 380px
    .section-title--wrap
      margin 0 -15px
    .review-button-tabs
      padding-left 15px
    .section-title
      padding-left 15px
  .article-page
    .section-title--article
      font-size 22px
      display none
    .article-hash-date--wrap
      display none
    .article-img--wrap
      position relative
      margin 0 -15px
      margin-bottom 15px !important
      img
        border-radius 0
      .section-title--article
        display flex
        position absolute
        bottom 32px
        left 16px
        color #fff
        font-size 18px
        padding-bottom 0
        margin-bottom 0
        border-bottom 0
        width max-content
      .article-date
        display flex
        position absolute
        color rgba(255,255,255,0.6)
        bottom 8px
        left 16px
    .article-hash--mobile
      display flex
      margin-bottom 15px
    .article-text
      font-size 13px
    .article-content h4
      font-size 18px
  .article-mobile-sidebar
    margin 0 -15px
    background-color #f9f9f9
    padding 30px 0

    .article-mobile-sidebar--title
      margin-bottom 15px
      padding-left 15px
      padding-right 15px
      .section-title
        font-size 20px
        margin-bottom 0
      a
        font-size 16px
    .articles-mobile-sidebar--items
      padding-left 15px
  .article-page .content
    padding-top 65px
  .article-comments--list__depth2
    padding-left 30px
  .recept-page
    .section-title--article
      display none
    .article-hash-date--wrap
      display none
    .content
      padding-top 65px
    .article-receipt--video__text
      padding 0 15px
      padding-right 15px !important
  .article-receipt--video__img
    margin-bottom 10px
    .article-img
      border-radius 0
    .article-img--title
      position absolute
      bottom 32px
      left 15px
      font-family Ow600
      font-size 17px
      color #fff
      display flex
    .article-hash--date
      position absolute
      bottom 8px
      left 15px
      font-family Rb400
      font-size 12px
      color rgba(255,255,255,0.6)
      display flex
  .article-hash--list__mobile
    display flex
    padding 0 15px
  .article-recept-comp--item .why-us--right
    padding 0 15px
  .recept-title-other
    font-size 22px
  .recept-link-other
    font-size 16px
  .recept-other-flex--wrap
    margin 0 -15px
  .reveiws-page
    .review-card-review--item
      border-radius 0
    .review-card-review__top
      margin-bottom 5px
    .review-tab
      .main-button
        margin 0 auto !important
  .review-video-tab
    padding 0
  .reviews-page-list--video
    padding 0 15px
  .reviews-page-list--video .g4, .reviews-page-list--video .g5, .reviews-page-list--video .g6
    min-height 100% !important
  .why-us--right
    padding 15px
  .about-why-us--icon
    size(70px)
    .icon
      size(28px)
  .about-why-us--title
    padding-left 55px
    font-size 14px
    margin-bottom 35px
  .about-why-us--text
    font-size 12px
  .about-us-page
    .section2.section-why-us
      padding-top 20px
    .about-why-us--col
      height auto
      padding 0
  .team-about--img
    background-size cover
    background-position center
  .team-container
    margin 0 -15px
    .swiper-wrapper
      padding-left 15px
  .section-why-us--swiper .swiper-wrapper
    padding-left 15px
  .have-question--tel__icon
    .icon
      margin-right 15px
      size(50px)
  .have-question--tel__title
    font-size 13px
  .have-question--tel
    margin 0
  .have-question--left
    padding 20px
  .lk-profile-photo
    size(96px)
  .lk-profile-photo span
    font-size 12px
  .lk-profile-name
    font-size 18px
    margin-bottom 5px
  .lk-profile-link
    font-size 13px
  .li-inputs--container .main-input--wrap
    width 100%
  .lk-page
    .footer-top
      display none
    .section-lk-profile
      .main-button
        width 100%
        margin 0 auto

  .lk-adress-item--wrap.delete-active
    .lk-adress-item
      transform translateX(-56px)

  .lk-adress-item--delete__mobile
    display flex
    justify-content center
    align-items center
    position absolute
    right 0
    height calc(100% - 20px)
    width 56px
    background-color #FF4F4F
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px 10px 10px 0px;
    z-index 0
    .icon
      size(24px)
      fill #fff
  .lk-adress-item
    z-index 2
  .lk-adress-delete
    display none
  .lk-adress-edit
    margin-right 0
  .popup-lk-wrapper
    .popup-input
      width 32%
      margin-bottom 8px
      color color21
      &:first-child
        width 70%
      &:nth-child(2)
        width 28%
  .lk-order-top--left
    flex-direction column
    .lk-order-title--wrap
      margin-bottom 10px
  .lk-order-buttons--wrapper .lk-order-status,.lk-order-buttons--wrapper .lk-order-button
    min-width 130px
    padding 15px
    font-size 11px
    margin-bottom 0
  .lk-order-buttons--wrapper
    flex-direction row
  .lk-tab--item
    margin 0
    width 100%
    &:first-child
      margin-bottom 10px
  .lk-tab-title--wrap
    flex-direction column
    margin-bottom 16px
  .lk-order-price
    span
      color colorMain
      margin-left 4px
  .lk-order-right--wrap
    .lk-order-delivery-date
      width 110px
  .lk-order-products--item
    padding 0
  .lk-order-products--list
    justify-content space-between
  .lk-page-orders
    .lk-wrapper
      background-color #f9f9f9
    .lk-tab--item
      background-color #fff
      color color21
    .lk-tab--item.active
      background-color colorMain
      color #fff
    .lk-order-item
      background-color #fff
      border none
    .lk-link-go-back--wrap
      margin-bottom 0
  .lk-sub-page
    .lk-wrapper
      background-color #f9f9f9
  .lk-subscribe--dot
    background-color #fff
  .flex-column-mobile
    align-items flex-start
    span
      word-break break-word
      overflow-wrap break-word
      max-width 250px
  .lk-themes--right
    flex-direction column
  .lk-themes--check
    flex-direction row
    justify-content space-between
    width 100%
  .lk-list-page
    .lk-link-go-back--wrap
      margin-bottom 0
    .lk-wrapper
      background-color #f9f9f9
    .lk-themes--item
      background-color #fff
      border none
      margin 0 -15px
      border-radius 0
      margin-bottom 16px !important
  .lk-themes-edit-add--wrap
    width 100%
    .lk-themes--edit
      min-width 46px
      background-color transparent
      border 1px solid rgba(33,33,33,0.1)
  .lk-themes--left
    border 1px solid rgba(33,33,33,0.1)
    border-radius 10px
    padding 16px
    .lk-order-title--wrap
      margin-right 0
      &:last-child
        display flex
        flex-direction column
        align-items flex-end
  .section-404-container--desc
    font-size 16px
  .section-404-container--icon .icon
    width 260px
    height 230px
  .section-lanch
    .section-menu-content--col
      .section-menu-content--item
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    .articles-content-wrap
      padding 0 15px
  .section-menu-content--favourite
    opacity 1
  .lanch-content-tabs
    .section-menu-content--col
      position relative
      display flex
      align-items center
    .section-menu-content--item--mobile
      transform translateX(0)
      transition .3s ease
      will-change transform
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    .section-menu-content--col.delete-active
      .section-menu-content--item--mobile
        transform translateX(-56px)
    .section-menu-content--item
      display none
    .card-cart-added--col-m .card-cart-added--basket
      display flex
    .section-menu-content--item--mobile
      display flex
      background-color #fff
      border-radius 10px
      padding 16px
      z-index 2
      align-items center

    .section-menu-content--img
      size(130px)
      background-size cover
      min-height auto
    .section-menu-content--favourite
      left: 115px;
      top: 10px;
    .section-menu-content--item__top
      margin-right 16px
    .mobile-lanch-item--change
      position absolute
      right 0
      width 56px
      height calc(100% - 20px)
      background-color colorMain
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
      border-radius: 0px 10px 10px 0;
      display flex
      justify-content center
      align-items center
      z-index 0
      .icon
        size(24px)
        fill #fff
  .mobile-stay-review
    display flex
  .construct-lanch--components
    .lanch-components--block
      background-color #fff
    .card-content-added-one-click
      background-color #fff
  .popup-mini-b--footer
    .card-content-added-one-click
      padding 10px 23px
  .contact-map--block
    position relative
    left auto
    top auto
    border-radius: 0px 0px 10px 10px;
  .contact-map
    display flex
    flex-direction column-reverse
  .contact-map-script
    height 270px
    background-color #fff
    padding 5px
    box-shadow: 0px 0px 40px -5px rgba(0, 0, 0, 0.1);
    z-index 2
  .faq-content--item--wrap
    margin 0 -15px
    margin-bottom 30px
  .faq-content--title
    font-size 14px
  .faq-content--nubmer
    min-width 36px
  .faq-content--item
    border-radius 0
  .faq-content--item__info
    background-color #fff
  .faq-swiper-device--desc
    width: 270px;
    height: 217px;
  .faq-swiper-device--desc .faq-swiper-slide
    padding-right 35px
  .faq-swiper-device--desc .faq-siwper-img
    height 144px
  .faq-swiper-device--tablet .faq-swiper-slide
    padding-right 76px
  .faq-swiper-device--mobile .faq-swiper-slide
    padding-right 152px
  .faq-sidebar--info
    flex-direction column
  .faq-icon
    width 100%
  .faq-question--info--wrapper
    width 100%
  .review-v-card-review--col
    padding-right 15px
  .lk-themes-edit-add--wrap .lk-themes--edit
    size(40px)
    min-width 40px
    .icon
      size(17px)
  .lk-themes-add--basket
    height 40px
    padding 0
  .lk-themes--check .lk-subscribe--sub
    margin-bottom 20px
  .faq-question--text
    font-family Rb300
    font-size 16px
    padding 0 15px
    line-height 1.8
  .faq-sidebar--info
    padding 24px
  .faq-icon
    margin-bottom 16px
  .faq-content--title
    font-size 16px
    margin-right 14px
  .faq-content--item__info--title
    font-size 20px
  .have-question--tel
    padding 16px
  .have-question--tel__icon .icon
    size(45px)
  .have-question--left
    padding 8px
    padding-top 16px
  .contacts-page
    .section-map
      padding-top 24px
    .mobile-delivery-icon--slider
      margin-bottom 16px
  .about-us-list--item:first-child .why-us--left
    padding-bottom 0
  .about-us-list--item .why-us--img
    padding 16px
  .section-delivery--icon .icon
    size(72px)
  .about-us-page
    .section-title--wrap.mb-60
      margin-bottom 35px
    .section-delivery--icon
      margin-bottom 27px
    .section-delivery--desc
      font-family Rb400
      font-size 14px
      line-height 1.6
    .section-delivery.p-60-0
      padding-bottom 32px
    .section-team,.section-delivery,.section-delivery-map
      background-color #F9F9F9 !important
    .have-question--right
      background-color #fff
      border-radius 0 0 15px 15px
      padding 24px
      padding-top 30px
      margin-top -10px
      box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.06);
    .about-why-us--title
      font-size 18px
    .about-why-us--text
      font-size 14px
      padding-top 0
    .about-why-us--title
      margin-bottom 24px
    .about-why-us--icon
      size(84px)
    .about-why-us--icon .icon
      size(36px)
    .about-why-us--title
      padding-left 75px
    .section-about-us .section-title.mb-70
      margin-bottom 0
  .mobile-width-100
    width 100%
  .reviews-nav--wrap
    margin 0 -15px
    .section-title
      margin-left 15px
  .review-v-card-review--col
    padding-right 0
  .reviews-page-list--video .review-v-card-review--col
    height 192px
  .reviews-page-list--video
    margin-bottom 24px
  .reveiws-page .section-reviews--page
    padding-bottom 0
  .review-video-tab
    .main-button
      width 90%
    .add-video-review
      width 90%
  .articles-content-title
    font-size 16px
  .articles-content-desc
    line-height 1.6
  .recept-title--wrap
    margin-bottom 16px
  .recept-other-flex,.index-page
    .articles-content-title
      margin-bottom 8px
    .articles-content-desc
      margin-bottom 16px
      -ms-line-clamp: 3;
      -webkit-line-clamp: 3;
      line-clamp: 3;
  .recept-page,.index-page
    .section-recept-other
      padding-bottom 32px
  .article-recept-inst--img
    min-width 60px
  .section-full-baner
    height 315px
  .section-full-right__img
    background-size cover
    transform: translateX(-35px);
    top: -37px;
  .index-page
    .section-blog--index
      .review-button-tab
        width 88px
  .articles-stay-comment
    margin-bottom 32px
    padding-top 16px
    .main-button
      width 100%
  .articles-textarea
    margin-bottom 16px
  .article-stay--title
    margin-bottom 8px
  .w-150
    width 100%
  .articles-content-tag
    top 16px
  .order-out--desc
    display none
  .order-out--mobile
    display block
  .footer-top-sub
    size(50px)
    right 0
  .card-content-grid
    grid-gap: 15px;
    grid-template: "g1 g1 g1 g1 g1 g1" "g2 g2 g2 g3 g3 g3" "g2 g2 g2 g4 g4 g4" "g5 g5 g5 g5 g6 g6" "g5 g5 g5 g5 g6 g6" "g7 g7 g7 g7 g7 g7";
  .g2.card-grid--item
    height 288px
  .g3.card-grid--item
    height 136px
  .g4.card-grid--item
    height 136px
  .basket-content-mini-basket__item
    transition .4s ease
  .basket-content-mini-basket__item.deleted-item
    transform translateX(-100vw)
  #custom-mobile-cat-list
    .popup-mobile-cat--list
      height calc(100vh - 132px)
  #custom-mobile-mini-basket
    .mobile-mini-basket--list
      height calc(100vh - 132px)
  #custom-mobile-filter
    .popup-mobile-cat--list
      height calc(100vh - 232px)
  #custom-mobile-filter-kuhnya,#custom-mobile-filter-type,#custom-mobile-filter-price
    .popup-mobile-cat--list
      height calc(100vh - 110px)
    .popup-mobile--price
      height calc(100vh - 132px)
  .popup-mobile-sort--item.active
    color colorMain
  .mobile-lanch-list--show.transform
    transform translateY(-70px)
  .lk-tab-title--mobile .review-button-tab
    margin-right 0
  .article-img--wrap,.article-receipt--video__img
    position relative
    &:before
      content ''
      position absolute
      bottom 0
      right 0
      left 0
      height 70px
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,0.8494748241093313) 0%, rgba(0,0,0,0.0) 100%);
  .article-recept-comp--item .article-recept--title:before
    line-height 1
  .why-us--img
    padding 0 40px
  .swiper-basket-complex-container
    padding-left 15px