section.section5.section-watched.swiper-section.p-60-0.pb-0
    .container
        .section-title--wrap.justify-content-between
            .section-title.mb-0 Вы смотрели
            .swiper-arrows
                .watched-swiper-button-prev.js-swiper-arrows-prev
                    +icon('arrow-left')
                .watched-swiper-button-next.js-swiper-arrows-next
                    +icon('arrow-right')
        .section-container.slider-container
            .slider-watched.swiper-container.swiper-sliders-container
                .swiper-wrapper.pt-40
                    .col-xl-3.col-lg-3.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Самса с бараниной
                                    .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                    .col-xl-3.col-lg-3.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Самса с бараниной
                                    .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +


