section.section6.section-reviews.p-60-0
    .container
        .card-review-top--wrap
            .section-title.mb-0 Отзывы
            .section-title--wrap.pb-3
                .review-button-tab(data-toggle="modal" data-target="#popup-add-review" data-custom-modal="#custom-popup-mobile-add-review") Оставить отзыв
                .review-swiper-arrows.swiper-arrows.card-review-arrows
                    .review-swiper-button-prev
                        +icon('arrow-left')
                    .review-swiper-button-next
                        +icon('arrow-right')

        .section-content-tabs
            .section-content-tab.review-tab.swiper-container.active
                .swiper-wrapper.p-25-0
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.review-card-review--col.swiper-slide
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.review-card-review--col.swiper-slide
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.review-card-review--col.swiper-slide
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-4.col-lg-4.col-md-6.col-sm-6.review-card-review--col.swiper-slide
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                .main-button.mobile-stay-review(data-custom-modal="#custom-popup-mobile-add-review") Оставить свой отзыв



