section.section7.section-grid.swiper-section
    .container
        .section-title--wrap.justify-content-between
            .section-title.mb-40 Хинкали из говядины от “Название”
        .card-grid-wrapper
            .card-content-grid
                .g1.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img1.png")
                .g2.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img2.png")
                .g3.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img3.png")
                .g4.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img4.png")
                .g5.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img5.png")
                .g6.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img6.png")
                .g7.card-grid--item
                    img(loading="lazy" alt="pic").card-grid--img(src="/static/img/content/lanch/img7.png")

            p.catalog-desc-p Хинкали - это национальное грузинское блюдо. Ни в коем случае их не стоит сравнивать с пельменями, это кардинально другое блюдо, одновременно состоящее из первого и второго блюда. Потрясающе вкусная вещь! В данном рецепте я покажу Вам, как несложно приготовить самолепные хинкали прямо у Вас дома!
                br
                br
                || Начинка для хинкали готовится из говядины/телятины или свинины (частый вариант — говядина со свининой), реже — баранины/ягненка. Начинка может быть рубленой (классический вариант) или в виде фарша. К ней в обязательном порядке добавляется много различных специй и зелени. Имеют место также хинкали с сыром (чаще сулугуни), которые являются заменой мясным блюдам для вегетарианцев, а также придают разнообразия насыщенной мясными блюдами грузинской кухне. Сугубо вегетарианским блюдом являются хинкали с грибами. В хинкальных с большим ассортиментом в качестве начинки могут выступать грибы с сыром, индейка и даже мясо раков[2].
                br
                br
                || Важный элемент в создании хинкали — работа над формой. Традиционно грузинские хозяйки лепят их таким образом, чтобы на верхушке получился небольшой «хвостик» из теста. Считается, что хинкали у основания (при подходе к хвостику) должны иметь не менее 18 складок. Так их легко держать; при этом хвостик еще и быстрее остывает. Обычно непроваренный хвостик выбрасывается (также по хвостикам удобно считать, кто сколько хинкали съел[3]). Слепленные хинкали отваривают в кипящей воде (наиболее распространенный вариант) или жарят. В некоторых заведениях к каждому виду хинкали с разными начинками предлагают как варёный, так и жареный варианты.

