// ЦВЕТА
colorMain = #FF651D
color21 = #212121

// РАЗМЕРЫ
baseFontSize = 16px


// ШРИФТЫ
Rb900 = 'Roboto 900',sans-serif;
Rb700 = 'Roboto 700',sans-serif;
Rb500 = 'Roboto 500',sans-serif;
Rb300 = 'Roboto 300',sans-serif;
Rb400 = 'Roboto 400',sans-serif;
Ow300 = 'Oswald 300',sans-serif;
Ow400 = 'Oswald 400',sans-serif;
Ow500 = 'Oswald 500',sans-serif;
Ow600 = 'Oswald 600',sans-serif;
Ow700 = 'Oswald 700',sans-serif;
Os600 = 'Open Sans 600',sans-serif;
Os400 = 'Open Sans 400',sans-serif;