section.section4.section-lanch-slider.swiper-lanch-section.p-60-0.pb-0
    .container
        .section-title--wrap.justify-content-between
            .section-title.mb-0 Рекомендуем так же к комплексному обеду
            .swiper-arrows
                .recommend-swiper-button-prev.js-lanch-swiper-arrows-prev
                    +icon('arrow-left')
                .recommend-swiper-button-next.js-lanch-swiper-arrows-next
                    +icon('arrow-right')
        .catalog-menu-tabs.lanch-construct-tabs
            .catalog-menu-tab.active Первое блюдо
            .catalog-menu-tab Напитки
        .section-container.slider-container
            .swiper-basket-complex-container.swiper-container
                .swiper-wrapper.pt-40
                    .col-xl-3.col-lg-3.col-md-3.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/products/img17.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Салат с курицей
                                    .section-menu-content--desc.mb-20 Курица, Лук, Соль, Перец черный молотый, Мука, Вода, Масло.
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .lanch-choise-product--wrap
                                        .lanch-choise-button
                                            span Выбрать

                    .col-xl-3.col-lg-3.col-md-3.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/products/img18.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Цахтони с говядиной
                                    .section-menu-content--desc.mb-20 Говядина отварная, Сметана, Орехи грецкие, Кинза, Укроп, Чеснок
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .lanch-choise-product--wrap
                                        .lanch-choise-button
                                            span Выбрать
                    .col-xl-3.col-lg-3.col-md-3.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/products/img19.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Салат из овощей
                                    .section-menu-content--desc.mb-20 Цукини, Столовые ложки оливкового масла, Соль, Молотый чёрный перец
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .lanch-choise-product--wrap
                                        .lanch-choise-button
                                            span Выбрать
                    .col-xl-3.col-lg-3.col-md-3.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Самса с бараниной
                                    .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .lanch-choise-product--wrap
                                        .lanch-choise-button
                                            span Выбрать
                    .col-xl-3.col-lg-3.col-md-3.col-sm-6.section-menu-content--col.swiper-slide
                        .section-menu-content--item
                            .section-menu-content--favourite
                                +icon('like2')
                            a.section-menu-content--item__top(href="/")
                                .section-menu-content--stock 10%
                                .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                .section-menu-content--item__info
                                    .section-menu-content--name.mb-10 Самса с бараниной
                                    .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                            .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                .section-menu-content--order.basket-el-selector
                                    .section-menu-content--price__wrap
                                        .section-menu-content--price__stock 145 ₽ / 140 г.
                                        .section-menu-content--price 145 ₽ / #[span 140 г.]
                                    .lanch-choise-product--wrap
                                        .lanch-choise-button
                                            span Выбрать
