.section-lk-profile
    .lk-content--wrapper
        .lk-inputs--title.lk-title-mobile-d Шаблоны
        .lk-themes--list
            .lk-themes--item
                .lk-themes--left
                    .lk-order-title--wrap
                        .lk-order-title Бизнес ланч 1
                        .lk-order-date от 22.10.2020
                    .lk-order-title--wrap
                        .lk-order-title.color-main 425 ₽
                        .lk-order-date 3 товара
                .lk-themes--right
                    .lk-themes--check
                        .lk-subscribe--sub
                            .lk-subscribe--dot
                            input.lk-subscribe--input(type="checkbox")
                            .lk-themes-dot--title Автопокупка
                        .lk-order-date Продление: 29.10.2020
                    .lk-themes-edit-add--wrap
                        .lk-themes--edit(data-toggle="modal" data-target="#popup-theme-edit" data-custom-modal="#custom-popup-mobile-lanch-edit")
                            +icon('pen')
                        .lk-themes-add--basket.main-button Добавить в корзину
            .lk-themes--item
                .lk-themes--left
                    .lk-order-title--wrap
                        .lk-order-title Бизнес ланч 1
                        .lk-order-date от 22.10.2020
                    .lk-order-title--wrap
                        .lk-order-title.color-main 425 ₽
                        .lk-order-date 3 товара
                .lk-themes--right
                    .lk-themes--check
                        .lk-subscribe--sub
                            .lk-subscribe--dot
                            input.lk-subscribe--input(type="checkbox")
                            .lk-themes-dot--title Автопокупка
                        .lk-order-date Продление: 29.10.2020
                    .lk-themes-edit-add--wrap
                        .lk-themes--edit(data-toggle="modal" data-target="#popup-theme-edit" data-custom-modal="#custom-popup-mobile-lanch-edit")
                            +icon('pen')
                        .lk-themes-add--basket.main-button Добавить в корзину
            .lk-themes--item
                .lk-themes--left
                    .lk-order-title--wrap
                        .lk-order-title Бизнес ланч 1
                        .lk-order-date от 22.10.2020
                    .lk-order-title--wrap
                        .lk-order-title.color-main 425 ₽
                        .lk-order-date 3 товара
                .lk-themes--right
                    .lk-themes--check
                        .lk-subscribe--sub
                            .lk-subscribe--dot
                            input.lk-subscribe--input(type="checkbox")
                            .lk-themes-dot--title Автопокупка
                        .lk-order-date Продление: 29.10.2020
                    .lk-themes-edit-add--wrap
                        .lk-themes--edit(data-toggle="modal" data-target="#popup-theme-edit" data-custom-modal="#custom-popup-mobile-lanch-edit")
                            +icon('pen')
                        .lk-themes-add--basket.main-button Добавить в корзину
