.section-lk-profile
    .lk-content--wrapper
        .lk-inputs--title Подписка
        form.lk-subscribe--list
            .lk-subscribe--item
                .lk-subscribe--title Присылать специальные предложения:
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span SMS
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Viber
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Telegram
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Email
            .lk-subscribe--item
                .lk-subscribe--title Получать уведомления о статусе заказа
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span SMS
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Viber
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Telegram
                .lk-subscribe--sub
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Email
            .lk-subscribe--item.mb-50
                .lk-subscribe--title Получать подарки/образцы
                .lk-subscribe--sub.flex-column-mobile
                    .lk-subscribe--dot
                    input.lk-subscribe--input(type="checkbox")
                    span Показывать выгодные предложения на страницах каталога
            button.main-button.w-200(type="submit") Сохранить
