.section-lk-profile
    .lk-content--wrapper
        .lk-inputs--title.lk-title-mobile-d Адреса
        .lk-adress-list
            .lk-adress-item--wrap.swipe-item--wrapper
                .lk-adress-item--cont
                    .lk-adress-item
                        .lk-adress-top
                            .lk-adress-title Адреса 1
                            .lk-adress-controls
                                .lk-adress-icon.lk-adress-edit
                                    +icon('pen')
                                .lk-adress-icon.lk-adress-delete
                                    +icon('delete')
                        .li-adress-bottom
                            span Московская область, г. Москва
                            span ул. Дзержинского, д. 36 корп. 1
                    .lk-adress-deafalt--button
                        +icon('check-lk')
                        span По умолчанию
                .lk-adress-item--delete__mobile
                    +icon('delete')
            .lk-adress-item--wrap.swipe-item--wrapper
                .lk-adress-item--cont
                    .lk-adress-item
                        .lk-adress-top
                            .lk-adress-title Адреса 2
                            .lk-adress-controls
                                .lk-adress-icon.lk-adress-edit
                                    +icon('pen')
                                .lk-adress-icon.lk-adress-delete
                                    +icon('delete')
                        .li-adress-bottom
                            span Московская область, г. Москва
                            span ул. Ленина, д. 297 кв. 14

                    .lk-adress-deafalt--button
                        +icon('check-lk')
                        span По умолчанию
                .lk-adress-item--delete__mobile
                    +icon('delete')

            .lk-adress-item.lk-adress-add(data-toggle="modal" data-target="#popup-add-adress" data-custom-modal="#custom-mobile-lk-adress") Добавить адрес




