include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		<!--[if IE]>
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		<![endif]-->
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="preload" href="static/fonts/Oswald-Medium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Bold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Light.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Black.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
		<!--[if lt IE 9]>
		script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=<20aeb402-4ba8-455f-840e-0fc6221b2a16>" type="text/javascript")
		<![endif]-->
	body(class=pageClass)
		.wrapper
			include ../modules/header
			include ../modules/planwet-fixed
			.close-mobile--popups
			.content
				block content
			include ../modules/footer-basket
			include ../modules/footer

			.popups
				include ../popups/popup-auth
				include ../popups/popup-reg
				include ../popups/popup-code
				include ../popups/popup-callback
				include ../popups/popup-add-review
			.popups-mobile
				include ../popups-mobile/popup-auth
				include ../popups-mobile/popup-reg
				include ../popups-mobile/popup-code
				include ../popups-mobile/popup-callback
				include ../popups-mobile/popup-mini-basket
				include ../popups-mobile/popup-lanch-order
				include ../popups-mobile/popup-add-review
		script(src="static/js/jquery.min.js")
		script(src="static/js/libs.min.js")
		script(src="static/js/main.js")
		script(src="static/js/sliders.js")
		script(src="static/js/jquery.hoverIntent.min.js")
		script(src="static/js/jquery.simplePagination.js")
		script(src="static/js/datepicker.ru-RU.js")
		script(src="static/js/jquery-ui.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js")
		script.
			ymaps.ready(function () {
				var myMap = new ymaps.Map('map', {
							center: [55.751574, 37.573856],
							zoom: 9
						}, {
							searchControlProvider: 'yandex#search'
						}),

						// Создаём макет содержимого.
						MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
								'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
						),

						myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
							hintContent: 'Собственный значок метки',
							balloonContent: 'Это красивая метка'
						}, {
							// Опции.
							// Необходимо указать данный тип макета.
							iconLayout: 'default#image',
							// Своё изображение иконки метки.
							iconImageHref: 'static/img/general/map.png',
							// Размеры метки.
							iconImageSize: [33, 33],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
							iconImageOffset: [-5, -38]
						}),

						myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
							//hintContent: 'Собственный значок метки с контентом',
							//balloonContent: 'А эта — новогодняя',
							iconContent: '12'
						}, {
							// Опции.
							// Необходимо указать данный тип макета.
							iconLayout: 'default#imageWithContent',
							// Своё изображение иконки метки.
							iconImageHref: 'images/ball.png',
							// Размеры метки.
							iconImageSize: [48, 48],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
							iconImageOffset: [-24, -24],
							// Смещение слоя с содержимым относительно слоя с картинкой.
							iconContentOffset: [15, 15],
							// Макет содержимого.
							iconContentLayout: MyIconContentLayout
						});

				myMap.geoObjects
						.add(myPlacemark);

			});
		block script