include ../mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="preload" href="static/fonts/Oswald-Medium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Light.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Oswald-Bold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Regular.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Light.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Medium.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Bold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/Roboto-Black.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/OpenSans-SemiBold.woff2" as="font" type="font/woff2" crossorigin)
		link(rel="preload" href="static/fonts/OpenSans-Regular.woff2" as="font" type="font/woff2" crossorigin)
	body(class=pageClass)
		.wrapper
			include ../modules/header
			include ../modules/planwet-fixed
			.close-mobile--popups
			.content
				block content
			include ../modules/footer-basket
			include ../modules/footer

			.popups
				include ../popups/popup-auth
				include ../popups/popup-reg
				include ../popups/popup-code
				include ../popups/popup-callback
				include ../popups/popup-add-review
				include ../popups/popup-call-sub
				include ../popups/popup-call-sub2
				include ../popups/popup-call-error
				include ../popups/popup-code-order
				include ../popups/popup-code-submit

			.popups-mobile
				include ../popups-mobile/popup-auth
				include ../popups-mobile/popup-reg
				include ../popups-mobile/popup-code
				include ../popups-mobile/popup-callback
				include ../popups-mobile/popup-call-sub
				include ../popups-mobile/popup-call-sub2
				include ../popups-mobile/popup-call-error
				include ../popups-mobile/popup-mini-basket
				include ../popups-mobile/popup-lanch-order
				include ../popups-mobile/popup-add-review
				include ../popups-mobile/popup-filter
				include ../popups-mobile/popup-code-order
				include ../popups-mobile/popup-code-submit

		script.
			setTimeout(function () {
				var elem0 = document.createElement('script');
				elem0.type = 'text/javascript';
				elem0.src = 'static/js/jquery.min.js';
				document.getElementsByTagName('body')[0].appendChild(elem0);
			}, 1700);
			setTimeout(function () {
				var elem1 = document.createElement('script');
				elem1.type = 'text/javascript';
				elem1.src = 'static/js/libs.min.js';
				document.getElementsByTagName('body')[0].appendChild(elem1);
			}, 1800);
			setTimeout(function () {
				var elem2 = document.createElement('script');
				elem2.type = 'text/javascript';
				elem2.src = 'static/js/main.js';
				document.getElementsByTagName('body')[0].appendChild(elem2);
			}, 1900);
			setTimeout(function () {
				var elem3 = document.createElement('script');
				elem3.type = 'text/javascript';
				elem3.src = 'static/js/sliders.js';
				document.getElementsByTagName('body')[0].appendChild(elem3);
			}, 1900);
			setTimeout(function () {
				var elem4 = document.createElement('script');
				elem4.type = 'text/javascript';
				elem4.src = 'static/js/jquery.hoverIntent.min.js';
				document.getElementsByTagName('body')[0].appendChild(elem4);
			}, 1900);
			setTimeout(function () {
				var elem5 = document.createElement('script');
				elem5.type = 'text/javascript';
				elem5.src = 'static/js/datepicker.ru-RU.js';
				document.getElementsByTagName('body')[0].appendChild(elem5);
			}, 1900);
			setTimeout(function () {
				var elem6 = document.createElement('script');
				elem6.type = 'text/javascript';
				elem6.src = 'static/js/jquery.animateNumber.js';
				document.getElementsByTagName('body')[0].appendChild(elem6);
			}, 1900);

			setTimeout(function () {
				var elem = document.createElement('script');
				elem.type = 'text/javascript';
				elem.src = 'https://api-maps.yandex.ru/2.1/?apikey=<5ff43003-e2a2-4431-8031-44e816cd9630>&lang=ru_RU&onload=getYaMap';
				document.getElementsByTagName('body')[0].appendChild(elem);
			}, 2000);
			function getYaMap(){
				var myMap = new ymaps.Map('map', {
							center: [55.751574, 37.573856],
							zoom: 9
						}, {
							searchControlProvider: 'yandex#search'
						}),

						// Создаём макет содержимого.
						MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
								'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
						),

						myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
							hintContent: 'Собственный значок метки',
							balloonContent: 'Это красивая метка'
						}, {
							// Опции.
							// Необходимо указать данный тип макета.
							iconLayout: 'default#image',
							// Своё изображение иконки метки.
							iconImageHref: 'static/img/general/map.png',
							// Размеры метки.
							iconImageSize: [33, 33],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
							iconImageOffset: [-5, -38]
						}),

						myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
							//hintContent: 'Собственный значок метки с контентом',
							//balloonContent: 'А эта — новогодняя',
							iconContent: '12'
						}, {
							// Опции.
							// Необходимо указать данный тип макета.
							iconLayout: 'default#imageWithContent',
							// Своё изображение иконки метки.
							iconImageHref: 'images/ball.png',
							// Размеры метки.
							iconImageSize: [48, 48],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
							iconImageOffset: [-24, -24],
							// Смещение слоя с содержимым относительно слоя с картинкой.
							iconContentOffset: [15, 15],
							// Макет содержимого.
							iconContentLayout: MyIconContentLayout
						});

				myMap.geoObjects
						.add(myPlacemark);
			}

		block script