.lk-link-go-back--wrap
    .container
        a.lk-link-go-back(href="/")
            +icon('left-arrow')
            span Меню
section.section1.section-lk-mobile-menu
    .lk-mobile-menu--wrap
        .lk-mobile-catalog--list
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
            a.lk-mobile-catalog--item(href="/")
                .lk-mobile-catalog--item__left
                    img(loading="lazy").lk-mobile-catalog--item__img(src="static/img/content/articles/img1.png")
                    .lk-mobile-catalog--item__name Хинкали
                .lk-mobile-catalog--arrow
                    +icon('arrow-right')
