section.section1.section-recommend2
    .section-title--wrap.justify-content-between
        .section-title.mb-20 Соберите свой ланч
    p.catalog-desc-p Amet, luctus semper lacus at augue donec eget. At elementum, odio faucibus feugiat eget duis. Rhoncus elementum arcu consequat sollicitudin velit, at at pretium metus. Tincidunt sodales ultrices nibh aliquet mi turpis ac dolor orci. Vel sed laoreet tellus cras elit leo donec.