section.section7.section-lanch-slider.swiper-lanch-section.p-60-0.pb-0
    .section-title--wrap.justify-content-between
        .section-title.mb-0 Выберите десерт
        .swiper-arrows
            .recommend-swiper-button-prev.js-lanch-swiper-arrows-prev
                +icon('arrow-left')
            .recommend-swiper-button-next.js-lanch-swiper-arrows-next
                +icon('arrow-right')
    .section-container.slider-container
        .swiper-lanch-container.swiper-container
            .swiper-wrapper.pt-40
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        .section-menu-content--favourite
                            +icon('like2')
                        a.section-menu-content--item__top(href="/")
                            .section-menu-content--stock 10%
                            .section-menu-content--img(style="background-image:url('/static/img/content/products/img13.png')")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Пахлава
                                .section-menu-content--desc.mb-20 Масло сливочное, Сметана, Яйцо куриное, Мука, Сода, Сахар, Грецкий орех, Мед
                        .section-menu-content--item__bottom.basket-count-buttons--wrapper
                            .section-menu-content--order.basket-el-selector
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock 145 ₽ / 140 г.
                                    .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                .lanch-choise-product--wrap
                                    .lanch-choise-button
                                        span Выбрать

                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        .section-menu-content--favourite
                            +icon('like2')
                        a.section-menu-content--item__top(href="/")
                            .section-menu-content--stock 10%
                            .section-menu-content--img(style="background-image:url('/static/img/content/products/img13.png')")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Пахлава
                                .section-menu-content--desc.mb-20 Масло сливочное, Сметана, Яйцо куриное, Мука, Сода, Сахар, Грецкий орех, Мед
                        .section-menu-content--item__bottom.basket-count-buttons--wrapper
                            .section-menu-content--order.basket-el-selector
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock 145 ₽ / 140 г.
                                    .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                .lanch-choise-product--wrap
                                    .lanch-choise-button
                                        span Выбрать
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        .section-menu-content--favourite
                            +icon('like2')
                        a.section-menu-content--item__top(href="/")
                            .section-menu-content--stock 10%
                            .section-menu-content--img(style="background-image:url('/static/img/content/products/img13.png')")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Пахлава
                                .section-menu-content--desc.mb-20 Масло сливочное, Сметана, Яйцо куриное, Мука, Сода, Сахар, Грецкий орех, Мед
                        .section-menu-content--item__bottom.basket-count-buttons--wrapper
                            .section-menu-content--order.basket-el-selector
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock 145 ₽ / 140 г.
                                    .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                .lanch-choise-product--wrap
                                    .lanch-choise-button
                                        span Выбрать
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        .section-menu-content--favourite
                            +icon('like2')
                        a.section-menu-content--item__top(href="/")
                            .section-menu-content--stock 10%
                            .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Самса с бараниной
                                .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                        .section-menu-content--item__bottom.basket-count-buttons--wrapper
                            .section-menu-content--order.basket-el-selector
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock 145 ₽ / 140 г.
                                    .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                .lanch-choise-product--wrap
                                    .lanch-choise-button
                                        span Выбрать
                .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        .section-menu-content--favourite
                            +icon('like2')
                        a.section-menu-content--item__top(href="/")
                            .section-menu-content--stock 10%
                            .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Самса с бараниной
                                .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                        .section-menu-content--item__bottom.basket-count-buttons--wrapper
                            .section-menu-content--order.basket-el-selector
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock 145 ₽ / 140 г.
                                    .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                .lanch-choise-product--wrap
                                    .lanch-choise-button
                                        span Выбрать
