section.section1.section-reviews--page
    .container
        .reviews-nav--wrap
            .section-title.mb-20 Отзывы наших клиентов
            .section-title--wrap.pb-3.mobile-width-100
                .review-button-tabs.lk-tab-title--mobile
                    .review-button-tab.active(data-tab="review-tab") Отзывы
                    .review-button-tab(data-tab="review-video-tab") Видео отзывы
        .section-content-tabs
            .section-content-tab.review-tab.active
                .reviews-page-list
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3.5")
                            .review-card-review__bottom Porta neque morbi commodo mauris, quisque id cras aliquet facilisi. Nullam consectetur fames nulla viverra augue amet quis ut. Diam odio at dui, dui eget malesuada hendrerit. Odio sit potenti mauris, morbi. Scelerisque auctor sed purus phasellus tincidunt tellus ipsum in vitae. Sed orci orci diam et. Velit vulputate purus massa vel nunc sit tellus. Mi ultrices dui quisque sed non. Viverra facilisi libero etiam lacus consectetur arcu eget. Orci ipsum tortor, nec eros eros, vulputate ipsum facilisi.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, 2 ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.

                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="5")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                    .col-xl-12.col-lg-12.col-md-12.col-sm-12.review-card-review--col
                        .review-card-review--item
                            .review-card-review__top
                                .review-card-review__left
                                    .review-card-review__name Имя Фамилия
                                    .review-card-review__date 13.10.2020
                                .reviews-slider-comment-rating(data-rating="3")
                            .review-card-review__bottom Enim, ut lectus blandit feugiat ligula adipiscing. Mattis aliquam commodo lectus sed dis mauris metus, faucibus sed. Ullamcorper feugiat elit, id in cras rutrum.
                .review-flex--buttons
                    .review-show--more.main-button.w-200 Показать еще
                    .review-add--review.main-button.w-200(data-toggle="modal" data-target="#popup-add-review" data-custom-modal="#custom-popup-mobile-add-review") Добавить отзыв

            .section-content-tab.review-video-tab
                .reviews-page-list--video
                    .review-v-card-review--col.grid-item.g1
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g2
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g3
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g4
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g5
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g6
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g7
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                    .review-v-card-review--col.grid-item.g8
                        a.review-card-video--item(data-fancybox href="https://www.youtube.com/watch?v=KWvvRaoWkoc&ab_channel=%D0%9AOSTV%D0%9AOSTV")
                            img(loading="lazy" alt="pic").review-card-video--item__img(src="/static/img/general/vid1.jpg")
                            .review-card-video--icon
                                +icon('play')
                .review-flex--buttons
                    .review-show--more.main-button.w-200 Показать еще
                    .review-add--review.add-video-review.main-button-transparent.w-200(data-toggle="modal" data-target="#popup-load-video" data-custom-modal="#custom-mobile-load-video") Добавить отзыв
