section.section1.section-article
    .container
        .article-wrapper
            .col-xl-8.col-lg-8.col-md-12.col-sm-12.article-content.pl-0
                .article-content--info
                    .section-title--article Акция! 6 хинкали бесплатно!
                    .article-hash-date--wrap
                        .article-hash--list
                            a.article-hash--item(href="/") #Новости;
                            a.article-hash--item(href="/") #Хинкали;
                            a.article-hash--item(href="/") #Акции
                        .article-date 12.10.2020
                    .article-img--wrap
                        img(loading="lazy").article-img(src="static/img/content/articles/img4.png")
                        .section-title--article Акция! 6 хинкали бесплатно!
                        .article-date 12.10.2020
                    .article-hash-date--wrap.article-hash--mobile
                        .article-hash--list
                            a.article-hash--item(href="/") #Новости;
                            a.article-hash--item(href="/") #Хинкали;
                            a.article-hash--item(href="/") #Акции
                    p.article-text Aliquam sollicitudin interdum turpis est purus turpis proin diam et. Consectetur tincidunt convallis scelerisque cursus tortor adipiscing amet tempus, in. Elementum, vitae felis facilisi risus blandit. Hendrerit commodo, dui nullam in sit. Nunc, id pretium mattis adipiscing. Dolor at diam convallis tortor. Sem luctus sapien, at sit tristique est tellus turpis amet. Mi sed dictum donec suspendisse non massa tellus adipiscing in. Luctus amet nisl, eget nulla tempor blandit.
                        br
                        br
                        || Nisl turpis mauris varius eu ultrices viverra pretium nunc tellus. Gravida pellentesque id maecenas enim etiam amet, molestie at sed. Amet at eget nibh amet varius id molestie cursus viverra. Sodales urna, egestas elementum quis donec lorem faucibus. Cum purus lectus malesuada congue diam. Justo commodo volutpat aenean accumsan. Urna integer ut sed molestie vestibulum sit lorem at.
                        br
                        br
                        || Augue quisque ut sed curabitur orci scelerisque mauris porttitor. Ac iaculis pretium accumsan, at sit. Est suspendisse enim pharetra, mauris, urna. Morbi metus elementum viverra consequat, aliquet cursus. Pharetra lacus duis est nulla lorem.
                    h4 Акция! 6 хинкали бесплатно!
                    p.article-text Ornare nullam eu laoreet amet. Vulputate semper ultricies congue proin donec molestie aliquet hendrerit consectetur. Blandit elit quis massa, eu. Egestas elementum ultrices amet tempor quam et in egestas cursus. Vel purus ornare lacus, pellentesque imperdiet vulputate faucibus. Urna, molestie libero enim ipsum sit eu. Iaculis vulputate fermentum ac arcu, libero nunc euismod posuere orci. Mattis leo vitae eget vitae pharetra lorem maecenas eros.
                        br
                        br
                        || Sit id dictumst sit posuere lectus. Sit viverra sit tristique id aenean dui turpis quis mattis. Sed enim, ac urna, vitae amet, sed magna cras. Sed erat posuere morbi iaculis. Purus nisi, consequat a eget sed adipiscing. Egestas malesuada elementum id velit neque, netus nec. Neque magna ullamcorper integer turpis morbi tristique. Erat arcu, tincidunt commodo condimentum dolor, aliquam suspendisse id varius.
                .article-mobile-sidebar
                    .article-mobile-sidebar--title
                        .section-title Может быть интересно
                        a(href="") Все статьи
                    .articles-mobile-sidebar--items.swiper-container
                        .articles-mobile-sidebar--swiper.swiper-wrapper
                            .articles-content-col.swiper-slide
                                a.articles-content-item(href="/")
                                    .articles-content-tag.color-yellow Статьи
                                    .articles-content-img(style="background-image:url('/static/img/content/articles/img3.png')")
                                    .articles-content-info
                                        .articles-content-title Новые блюда в меню
                                        .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                        .articles-content-bottom
                                            .articles-content-link Подробнее
                                            .articles-content-date 12.10.2020
                            .articles-content-col.swiper-slide
                                a.articles-content-item(href="/")
                                    .articles-content-tag.color-orange Новости
                                    .articles-content-img(style="background-image:url('/static/img/content/articles/img1.png')")
                                    .articles-content-info
                                        .articles-content-title Новые блюда в меню
                                        .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                        .articles-content-bottom
                                            .articles-content-link Подробнее
                                            .articles-content-date 12.10.2020
                            .articles-content-col.swiper-slide
                                a.articles-content-item(href="/")
                                    .articles-content-tag.color-peorple Рецепты
                                    .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                                    .articles-content-info
                                        .articles-content-title Новые блюда в меню
                                        .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                        .articles-content-bottom
                                            .articles-content-link Подробнее
                                            .articles-content-date 12.10.2020

                .articles-comments
                    form.articles-stay-comment
                        .article-stay--title Ваш комментарий:
                        textarea.articles-textarea(cols="5" rows="5" placeholder="Комментарий...")
                        button.main-button.w-170(type="submit") Отправить
                    .articles-all-comments
                        .article-comments--title Комментарии:
                        .article-comments--list
                            .article-comments--item
                                .article-comments--item__name Лев Лукин
                                .article-comments--item__date 11 Июня, 2020 | 12:42
                                .article-comments--item__comment
                                    span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.
                                .article-comments--item__depth
                                    span Комментарии (2)
                                    .article-comments--item__arrow
                                        +icon('arrow-down')
                                .article-comments--item__depth2
                                    textarea.articles-textarea.mb-15(cols="5" rows="3" placeholder="Ваш комментарий...")
                                    .main-button.w-150.h-37.mb-30 Отправить
                                    .article-comments--list__depth2
                                        .article-comments--item
                                            .article-comments--item__name Гость
                                            .article-comments--item__date 11 Июня, 2020 | 12:42
                                            .article-comments--item__comment
                                                span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                        .article-comments--item
                                            .article-comments--item__name Лев Лукин
                                            .article-comments--item__date 11 Июня, 2020 | 12:42
                                            .article-comments--item__comment
                                                span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.
                            .article-comments--item
                                .article-comments--item__name Гость
                                .article-comments--item__date 11 Июня, 2020 | 12:42
                                .article-comments--item__comment
                                    span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                .article-comments--item__depth
                                    span Комментарии (3)
                                    .article-comments--item__arrow
                                        +icon('arrow-down')
                                .article-comments--item__depth2
                                    textarea.articles-textarea.mb-15(cols="5" rows="3" placeholder="Ваш комментарий...")
                                    .main-button.w-150.h-37.mb-30 Отправить
                                    .article-comments--list__depth2
                                        .article-comments--item
                                            .article-comments--item__name Гость
                                            .article-comments--item__date 11 Июня, 2020 | 12:42
                                            .article-comments--item__comment
                                                span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                        .article-comments--item
                                            .article-comments--item__name Лев Лукин
                                            .article-comments--item__date  11 Июня, 2020 | 12:42
                                            .article-comments--item__comment
                                                span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.
                                        .article-comments--item
                                            .article-comments--item__name Лев Лукин
                                            .article-comments--item__date 11 Июня, 2020 | 12:42
                                            .article-comments--item__comment
                                                span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.
                            .article-comments--item
                                .article-comments--item__name Гость
                                .article-comments--item__date 11 Июня, 2020 | 12:42
                                .article-comments--item__comment
                                    span Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                .article-comments--item__depth
                                    span Комментировать
                                    .article-comments--item__arrow
                                        +icon('arrow-down')
                                .article-comments--item__depth2
                                    textarea.articles-textarea.mb-15(cols="5" rows="3" placeholder="Ваш комментарий...")
                                    .main-button.w-150.h-37.mb-30 Отправить

            .col-xl-4.col-lg-4.col-md-12.col-sm-12.article-sidebar.p-0
                .articles-sticky--block
                    .articles-sticky--title Может быть интересно
                    .articles-items--block
                        .articles-content-col
                            a.articles-content-item(href="/")
                                .articles-content-tag.color-yellow Статьи
                                .articles-content-img(style="background-image:url('/static/img/content/articles/img3.png')")
                                .articles-content-info
                                    .articles-content-title Новые блюда в меню
                                    .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                    .articles-content-bottom
                                        .articles-content-link Подробнее
                                        .articles-content-date 12.10.2020
                        .articles-content-col
                            a.articles-content-item(href="/")
                                .articles-content-tag.color-orange Новости
                                .articles-content-img(style="background-image:url('/static/img/content/articles/img1.png')")
                                .articles-content-info
                                    .articles-content-title Новые блюда в меню
                                    .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                    .articles-content-bottom
                                        .articles-content-link Подробнее
                                        .articles-content-date 12.10.2020
                        .articles-content-col
                            a.articles-content-item(href="/")
                                .articles-content-tag.color-peorple Рецепты
                                .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                                .articles-content-info
                                    .articles-content-title Новые блюда в меню
                                    .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                    .articles-content-bottom
                                        .articles-content-link Подробнее
                                        .articles-content-date 12.10.2020
                    a.main-button.w-230.m-0-auto(href="/") Все статьи
