#popup-load-video.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    form.modal-dialog.modal-dialog-centered.mw-570(role='document')
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-header--close__wrap
                    .popup-header--close(data-dismiss="modal")
                        +icon('close2')
                .popup-header--title Загрузка видеоотзыва

            .popup-body.modal-body.p-40-70
                a.popup-load-you-file.popup-load-you-file--video
                    .popup-load-you-zone.popup-load-you-file--zone
                    input.popup-load-you-input#popup-load-you-input(type="file")
                    .popup-load-you-info
                        .popup-load-you-title Загрузить файл
                        .popup-load-you-desc (нажмите или перетащите файл сюда)
                        .popup-progress-load
                            +icon('refresh')
                            span Загрузка
                        .review-tab-video-reviews__icon.pp-reviews__icon
                            +icon2('play-rev')
                .popup-load-you-file--progress Прогресс загрузки
                    span#mod-vid-progress-number 0
                        span %
                progress.popup-load-you-file--progress-v#mod-vid-progress(max="100" value="0")

            .popup-footer.modal-footer
                button.main-button.w-230.m-0-auto.mb-30.popup-file--video--button(type="submit" disabled) Оставить заявку