#popup-add-adress.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    form.modal-dialog.modal-dialog-centered.mw-630(role='document')
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-header--close__wrap
                    .popup-header--close(data-dismiss="modal")
                        +icon('close2')
                .popup-header--title Добавить адрес
            .popup-body.modal-body.p-5
                .popup-input--wrapper
                    label Адрес
                    input.popup-input(type="text")
                .popup-lk-wrapper
                    input.popup-input.w-48(type="text" placeholder="Улица")
                    input.popup-input.w-48(type="text" placeholder="Дом")
                    input.popup-input(type="text" placeholder="Подъезд")
                    input.popup-input(type="text" placeholder="Этаж")
                    input.popup-input(type="text" placeholder="Квартира/Офис")

            .popup-footer.modal-footer
                button.main-button.w-230.m-0-auto.mb-30(type="submit") Добавить