#popup-complex.modal.fade(tabindex='-1' role='dialog' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.mw-630
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-header--close__wrap
                    .popup-header--close(data-dismiss="modal")
                        +icon('close2')
                .popup-header--title Добавить в готовый комплексный набор
            .popup-body.modal-body
                .popup-complex--list
                    .popup-complex--item
                        .popup-complex--item__info
                            .popup-complex--item__title Бизнес ланч 1
                            .popup-complex--item__desc от 22.10.2020
                        .popup-complex--item__info
                            .popup-complex--item__title.text-center 125 ₽
                            .popup-complex--item__desc.text-center 1 товар
                        .popup-complex--item__info
                            .popup-complex--button Выбрать
                    .popup-complex--item
                        .popup-complex--item__info
                            .popup-complex--item__title Бизнес ланч 1
                            .popup-complex--item__desc от 22.10.2020
                        .popup-complex--item__info
                            .popup-complex--item__title.text-center 125 ₽
                            .popup-complex--item__desc.text-center 1 товар
                        .popup-complex--item__info
                            .popup-complex--button Выбрать
                    .popup-complex--item
                        .popup-complex--item__info
                            .popup-complex--item__title Бизнес ланч 1
                            .popup-complex--item__desc от 22.10.2020
                        .popup-complex--item__info
                            .popup-complex--item__title.text-center 125 ₽
                            .popup-complex--item__desc.text-center 1 товар
                        .popup-complex--item__info
                            .popup-complex--button Выбрать

            .popup-footer.modal-footer
                button.main-button.w-230.m-0-auto(type="submit") Сохранить