#popup-theme-edit.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    form.modal-dialog.modal-dialog-centered.mw-630(role='document')
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-header--close__wrap
                    .popup-header--close(data-dismiss="modal")
                        +icon('close2')
                .popup-header--title Бизнес ланч 1
            .popup-body.modal-body
                .popup-input--wrapper.popop-theme-edit--name
                    input.popup-input(type="text" placeholder="Изменить название шаблона")
                .popup-theme-edit--product
                    .header-mini-basket__item
                        .header-mini-basket__left
                            .header-mini-basket__img(style="background-image:url('/static/img/content/product-item/img1.png')")
                            .header-mini-basket__title Хинкали из баранины
                        .header-mini-basket__right
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" min="1"  readonly)
                                .basket-product--plus +
                            .header-mini-basket__right__attr
                                .header-mini-basket__price 325 ₽
                                .header-mini-basket__delete
                                    +icon('delete')
                    .header-mini-basket__item
                        .header-mini-basket__left
                            .header-mini-basket__img(style="background-image:url('/static/img/content/products/img12.png')")
                            .header-mini-basket__title Соус чесночный
                        .header-mini-basket__right
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" min="1"  readonly)
                                .basket-product--plus +
                            .header-mini-basket__right__attr
                                .header-mini-basket__price 58 ₽
                                .header-mini-basket__delete
                                    +icon('delete')
                    .header-mini-basket__item
                        .header-mini-basket__left
                            .header-mini-basket__img(style="background-image:url('/static/img/content/products/img12.png')")
                            .header-mini-basket__title Соус чесночный
                        .header-mini-basket__right
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" min="1"  readonly)
                                .basket-product--plus +
                            .header-mini-basket__right__attr
                                .header-mini-basket__price 58 ₽
                                .header-mini-basket__delete
                                    +icon('delete')
                    .lk-add-position(data-toggle="modal" data-target="#popup-lk-rebuild" data-dismiss="modal") Добавить позицию



            .popup-theme-edit--buttons
                button.main-button.w-230(type="submit") Сохранить
                a.main-button-transparent.w-230(href="/lk-setting.html") Настроить автопокупку