#popup-call-error.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-svg-icon
                    +icon2('fill-error')
                .popup-body-bold--text2 Упс! Произошла ошибка!
                .popup-body-bold--desc Проверьте email адрес и опробуйте еще раз
            .popup-body.modal-body
                .main-button.w-170.m-0-auto.mb-30.popup-close-modal2(data-dismiss="modal") Ок