#popup-added-basket.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true')
    .modal-dialog.modal-dialog-centered.mw-630(role='document')
        .modal-content.popup-content
            .popup-header.modal-header.pb-0
                .popup-header--close__wrap
                    .popup-header--close(data-dismiss="modal")
                        +icon('close2')
                .popup-header--title Блюдо добавлено в Ваш заказ!
                .popup-header--desc С этим блюдом часто заказывают:
            .popup-body.modal-body
                .popup-basket-notific.swiper-container
                    .swiper-wrapper
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom
                                    .section-menu-content--order
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                                .product-basket-product--plus
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom
                                    .section-menu-content--order
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                                .product-basket-product--plus
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom
                                    .section-menu-content--order
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 65 ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                                .product-basket-product--plus
                .popup-arrow-notific
                    .popup-swiper-button-prev
                        +icon('arrow-left')
                    .popup-swiper-button-next
                        +icon('arrow-right')
            //.popup-footer.modal-footer
            //    button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            //    button.btn.btn-primary(type='button') Save changes
