section.section7.section-blog--index.p-40-0
    .container
        .section-title--wrap.justify-content-between.mb-30
            .section-title.mb-0 Наш блог
            .review-button-tabs
                .review-button-tab.w-130.mr-15.active(data-tab="blog-news") Новости
                .review-button-tab.w-130.mr-15(data-tab="blog-rec") Рецепты
                .review-button-tab.w-130.mr-15(data-tab="blog-articles") Статьи
        .section-content-tabs
            .section-content-tab.mobile-index-blog--slider.swiper-container.blog-news.active
                .articles-content-wrap.flex-wrap.swiper-wrapper
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img1.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img3.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все новости
            .section-content-tab.blog-rec.mobile-index-blog--slider.swiper-container
                .articles-content-wrap.flex-wrap.swiper-wrapper
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img1.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img3.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все рецепты
            .section-content-tab.blog-articles.mobile-index-blog--slider.swiper-container
                .articles-content-wrap.flex-wrap.swiper-wrapper
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img1.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            .articles-content-img(style="background-image:url('/static/img/content/articles/img3.png')")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все статьи