section.section9.section-delivery-map.p-40-0.pt-0
    .container
        .section-container
            .section-container-delivery--map.d-flex.flex-wrap
                .col-xl-5.col-lg-5.col-md-6.col-sm-12.delivery-map--left
                    .delivery-map--title Доставка
                    .delivery-map--desc Круглосуточно, 7 дней в неделю!
                    .delivery-map--desc.mb-30 Так же в городе расположен пункт самовывоза, заезжайте за едой сами по пути домой или на работу!
                    .delivery-map--title Оплата
                    .delivery-map--desc.mb-20 Оплата осуществляется либо онлайн на сайте,либо наличкой курьеру.
                    .delivery-map--pay__type
                        .delivery-map--pay__item
                            +icon2('fill-visa')
                        .delivery-map--pay__item
                            +icon2('fill-paypall')
                        .delivery-map--pay__item
                            +icon2('fill-mast')
                        .delivery-map--pay__item
                            +icon2('fill-maestro')
                .col-xl-7.col-lg-7.col-md-6.col-sm-12.delivery-map--right.p-0
                    #map
