section.section8.section-delivery.p-60-0
    .container
        .section-title--wrap.mb-60
            .section-title Доставка & Оплата
        .dots-relative
            .section-container.mobile-delivery-icon--slider.swiper-container
                .section-container-delivery.d-flex.swiper-wrapper
                    .col-xl-4.col-lg-4.col-md-4.col-sm-12.section-delivery--item.swiper-slide
                        .section-delivery--icon
                            +icon2('fill-stage1')
                        .section-delivery--desc Заполните корзину и сделайте заказ, не забывайте про промокоды и акции!
                    .col-xl-4.col-lg-4.col-md-4.col-sm-12.section-delivery--item.swiper-slide
                        .section-delivery--icon
                            +icon2('fill-stage2')
                        .section-delivery--desc Наш курьер доставит заказ в течении 60 минут или он будет для вас бесплатным!
                    .col-xl-4.col-lg-4.col-md-4.col-sm-12.section-delivery--item.swiper-slide
                        .section-delivery--icon
                            +icon2('fill-stage3')
                        .section-delivery--desc Получите ваш заказ и наслаждайтесь вкуснейшей домашней едой, и не забывайте про десерт!
            .mobile-delivery-pagination