section.section5.section-why-us.p-60-0
    .container
        .section-container.d-flex.justify-content-between
            .why-us--left
                img.why-us--img(src="/static/img/general/why1.png")
            .why-us--right
                .section-title--wrap.justify-content-between.align-items-end.mb-25
                    .section-title.text-left.mb-0 Почему мы?
                    a.section-title--link(href="/") Подробнее о нас
                p.why-us--desc #[a(href="/") “Название компании”] — quis adipiscing ut lacus. Congue laoreet ut commodo ac. Felis venenatis, nulla cursus sed aliquet et id. Pretium porta tempus sit eget nisl. Nunc arcu, dolor, venenatis euismod mauris enim. Sagittis, viverra aliquam leo nunc, pellentesque mauris. Tellus dui tempus malesuada venenatis nulla sed maecenas sapien. Donec quisque felis neque duis ornare cursus dolor. Nibh fringilla facilisis viverra vulputate et ac nullam ut pellentesque. Ipsum vulputate duis aliquam et non erat. Commodo, sit amet arcu, auctor pellentesque arcu, purus. Scelerisque pharetra quis blandit condimentum ultrices mauris, odio. Bibendum quam lectus ipsum arcu enim. Iaculis amet potenti faucibus hac posuere.
