section.section2.section-index-menu.p-60-0#index-menu
    .container
        .section-title.mb-40 Меню
        .section-container
            .section-container--product.d-flex
                .col-xl-3.col-lg-3.col-md-12.col-sm-12.index-menu--sidebar.pl-0
                    .section-menu-sidebar--list
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img1.png")
                            .section-menu-sidebar--name Готовые ланчи
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img2.png")
                            .section-menu-sidebar--name Хинкали
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img3.png")
                            .section-menu-sidebar--name Чебуреки
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img4.png")
                            .section-menu-sidebar--name Манты
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img5.png")
                            .section-menu-sidebar--name Хачапури
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img6.png")
                            .section-menu-sidebar--name Самса
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img7.png")
                            .section-menu-sidebar--name Пирог
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img8.png")
                            .section-menu-sidebar--name Десерты
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img9.png")
                            .section-menu-sidebar--name Закуски
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img10.png")
                            .section-menu-sidebar--name Соусы
                        .section-menu-sidebar--item
                            img(loading="lazy").section-menu-sidebar--img(src="/static/img/content/products/img11.png")
                            .section-menu-sidebar--name Напитки
                .col-xl-9.col-lg-9.col-md-12.col-sm-12.index-menu--content.swiper-container.pr-0
                    .section-menu-content--list.row.swiper-wrapper
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item.box-create--lanch
                                .section-menu-content--icon
                                    +icon2('fill-basket')
                                .section-menu-content--item__info
                                    .section-menu-content--name.text-center.mb-10 Создай свой готовый ланч
                                    .section-menu-content--desc.text-center.mb-20 Более 300 блюд и дополнений на ваш выбор!
                                    .section-menu-content--price.text-center.mb-25 от 350 ₽ / #[span 1 шт.]
                                    a.main-button-transparent(href="/lanch.html") Создать ланч
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +

                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--stock 10%
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Самса с бараниной
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock 145 ₽ / 140 г.
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Самса с бараниной
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock 145 ₽ / 140 г.
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Самса с бараниной
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock 145 ₽ / 140 г.
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Самса с бараниной
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock 145 ₽ / 140 г.
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
                        .col-xl-4.col-lg-4.col-md-4.col-sm-6.section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img2.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Самса с бараниной
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Кумин, Соль,Перец черный молотый,Мука,Вода, Масло.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock 145 ₽ / 140 г.
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="145") 145] ₽ / #[span 140 г.]
                                        .product-basket-added--card
                                            .button-product-basket--count
                                            .button-basket--product--v2__wrap
                                                .button-basket--v2(data-toggle="modal" data-target="#popup-added-basket" data-custom-modal="#custom-popup-mobile-basket")
                                                    +icon('basket')
                                                .product-basket-product--count
                                                    .product-basket-product--minus -
                                                    input.basket-product--input(type="text" value="1" min="1" )
                                                    .product-basket-product--plus +
            .main-button.w-170.m-0-auto.planwet-width-load Еще блюда