section.section2.section-why-us
    .container
        .section-title.text-left.mb-50 Почему стоит выбрать нас?
        .section-container.section-why-us--swiper.swiper-container
            .about-why-us.row.swiper-wrapper
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('kitchen')
                        .about-why-us--title Домашнии рецепты
                        .about-why-us--text Porta neque morbi commodo mauris, quisque id cras aliquet facilisi.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('chef')
                        .about-why-us--title Лучшие повара
                        .about-why-us--text At consequat elit posuere commodo in ac diam nunc eros. Tortor velit nulla non porttitor eu rutrum amet.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('dump')
                        .about-why-us--title Широкий выбор блюд
                        .about-why-us--text Sapien, scelerisque quam ornare eu, sed vulputate bibendum. Adipiscing nunc proin aliquet praesent pulvinar.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('pig')
                        .about-why-us--title Приятные цены
                        .about-why-us--text Eget sed tellus mi ultricies urna. Et justo, mattis donec morbi quis. Lorem neque in rhoncus ridiculus.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('rom')
                        .about-why-us--title Быстрая доствка
                        .about-why-us--text Blandit dapibus ac hendrerit nisl odio aenean. Aliquet nascetur fermentum volutpat tristique. Tristique odio.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('purse')
                        .about-why-us--title Удобная система оплаты
                        .about-why-us--text Ac commodo vel eu mattis. Scelerisque tincidunt eget mi etiam ipsum aliquam. Amet est lorem.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('calend')
                        .about-why-us--title Сертификаты качества
                        .about-why-us--text Sem velit sed pellentesque morbi netus ultrices. Aliquet sit ipsum diam gravida id ultricies.
                .col-xl-3.col-lg-4.col-md-6.col-sm-9.about-why-us--col.swiper-slide
                    .about-why-us--item
                        .about-why-us--icon
                            +icon('kitchen')
                        .about-why-us--title Ежедневная доставка
                        .about-why-us--text Sem velit sed pellentesque morbi netus ultrices. Aliquet sit ipsum diam gravida id ultricies.


