section.section3.section-team.p-60-0
    .container
        .section-title--wrap.justify-content-between
            .section-title.mb-0 Наша команда
            .swiper-arrows
                .team-swiper-button-prev.migdex-swiper-arrow-prev
                    +icon('arrow-left')
                .team-swiper-button-next.migdex-swiper-arrow-next
                    +icon('arrow-right')
        .team-container.swiper-container
            .swiper-wrapper.p-40-0
                .team-about-item-slide.swiper-slide
                    .team-about-item
                        .team-about--img(style="background-image:url('static/img/general/team/img1.png')")
                        .team-about-text--wrap
                            .team-about--text Шилов Павел Егорович
                            .team-about--status Шеф-повар
                .team-about-item-slide.swiper-slide
                    .team-about-item
                        .team-about--img(style="background-image:url('static/img/general/team/img2.png')")
                        .team-about-text--wrap
                            .team-about--text Жданов Семён Игоревич
                            .team-about--status Помощник шеф-повара
                .team-about-item-slide.swiper-slide
                    .team-about-item
                        .team-about--img(style="background-image:url('static/img/general/team/img3.png')")
                        .team-about-text--wrap
                            .team-about--text Лыткина Инна Егоровна
                            .team-about--status Повар
                .team-about-item-slide.swiper-slide
                    .team-about-item
                        .team-about--img(style="background-image:url('static/img/general/team/img4.png')")
                        .team-about-text--wrap
                            .team-about--text Пахомов Евгений Григорьевич
                            .team-about--status Повар
                .team-about-item-slide.swiper-slide
                    .team-about-item
                        .team-about--img(style="background-image:url('static/img/general/team/img1.png')")
                        .team-about-text--wrap
                            .team-about--text Шилов Павел Егорович
                            .team-about--status Шеф-повар