form.popup-mobile-added#custom-mobile-one-click
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15 Купить в 1 клик!
        .popup-header--desc.text-center.mbm-15 Наш менеджер перезвонит Вам, чтобы уточнить заказ

    .popup-body.modal-body.p-40-70
        .popup-input--wrapper
            input.popup-input(type="text" placeholder="ФИО")
        .popup-input--wrapper
            input.popup-input(type="email" placeholder="Email")
        .popup-input--wrapper
            input.popup-input(type="text" placeholder="Адрес")
        .popup-input--wrapper
            input.popup-input(type="text" placeholder="Комментарий к заказу:")

    .popup-footer.modal-footer
        button.main-button.w-230.m-0-auto.mb-30(type="submit") Отправить