form.popup-mobile-added#custom-mobile-callback
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15 Заказать обратный звонок
    .popup-body.modal-body.p-40-70
        .popup-input--wrapper
            input.popup-input(type="email" placeholder="ФИО")
        .popup-input--wrapper
            input.popup-input(type="text" data-mask="+7 (000) 000 00 00" placeholder="Телефон")

    .popup-footer.modal-footer
        button.main-button.w-170.m-0-auto.mb-30(type="submit") Оставить заявку
