.popup-mobile-added#custom-mobile-code--submit
    .popup-header.modal-header.pb-0.mb-30
        .popup-mobile-line--close
        .popup-header--title.mb-10 Вам отправлено письмо
        .popup-header--desc--mobile--wrap
            .popup-header--desc--mobile На почту #[span Trofimov@gmail.com] было отправлено письмо для подтверждения.
    button.main-button.w-230.m-0-auto.mb-30(data-custom-close="modal") Ок