form.popup-mobile-added#custom-popup-mobile-lanch-edit
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15.color-21 Бизнес ланч 1
    .popup-body.modal-body
        .popup-input--wrapper.popop-theme-edit--name
            input.popup-input(type="text" placeholder="Изменить название шаблона")
        .mobile-mini-basket--list.mobile-theme-list--wrap
            .mobile-mini-basket--item
                .mobile-theme-list--top
                    a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                    .mobile-mini-basket--name Хинкали из баранины
                .mobile-mini-basket--info.mobile-theme-list--bottom
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                        .basket-product--plus +
                    .mobile-theme-price 325 ₽
            .mobile-mini-basket--item
                .mobile-theme-list--top
                    a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                    .mobile-mini-basket--name Хинкали из баранины
                .mobile-mini-basket--info.mobile-theme-list--bottom
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                        .basket-product--plus +
                    .mobile-theme-price 325 ₽
            .mobile-mini-basket--item
                .mobile-theme-list--top
                    a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                    .mobile-mini-basket--name Хинкали из баранины
                .mobile-mini-basket--info.mobile-theme-list--bottom
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                        .basket-product--plus +
                    .mobile-theme-price 325 ₽
    .popup-mini-b--footer.popup-theme-buttons--footer
        button.main-button.w-230(type="submit") Сохранить
        .main-button-transparent.w-230(data-custom-dismiss="modal" data-custom-modal="#custom-popup-mobile-lanch-sett") Автопокупка

