form.popup-mobile-added#custom-mobile-reg
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15 Создайте аккаунт
    .popup-body.modal-body.p-40-70
        .popup-input--wrapper
            label ФИО:
            input.popup-input(type="text" placeholder="ФИО")
        .popup-input--wrapper
            label Email:
            input.popup-input(type="email" placeholder="Email")
        .popup-input--wrapper
            label Пароль:
            input.popup-input(type="password" placeholder="Пароль")
        .popup-input--wrapper
            label Повторите пароль:
            input.popup-input(type="password" placeholder="Повторите пароль")

    .popup-footer.modal-footer
        button.main-button.w-170.m-0-auto.mb-30(type="submit") Создать аккаунт
        .popup-not-reg Уже есть аккаунта?
            span(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-auth") Войдите!