.popup-mobile-added#custom-popup-mobile-garnir
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title Добавьте гарнир к блюду
        .popup-header--desc С этим блюдом часто заказывают:
    .popup-body.modal-body
        .popup-basket-notific.swiper-container
            .swiper-wrapper
                .section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        a.section-menu-content--item__top(href="/")
                            img.section-menu-content--img__mobile(src="/static/img/content/products/img10.png")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Соус Томатный
                                .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                        .section-menu-content--item__bottom
                            .section-menu-content--order
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock
                                    .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                .button-basket--product__wrap
                                    .main-button-transparent.max-content.button-basket--product Добавить
                                    .basket-product--count
                                        .basket-product--minus -
                                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                        .basket-product--plus +
                .section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        a.section-menu-content--item__top(href="/")
                            img.section-menu-content--img__mobile(src="/static/img/content/products/img12.png")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Соус Чесночный
                                .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                        .section-menu-content--item__bottom
                            .section-menu-content--order
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock
                                    .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                .button-basket--product__wrap
                                    .main-button-transparent.max-content.button-basket--product Добавить
                                    .basket-product--count
                                        .basket-product--minus -
                                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                        .basket-product--plus +
                .section-menu-content--col.swiper-slide
                    .section-menu-content--item
                        a.section-menu-content--item__top(href="/")
                            img.section-menu-content--img__mobile(src="/static/img/content/products/img10.png")
                            .section-menu-content--item__info
                                .section-menu-content--name.mb-10 Хинкали из баранины
                                .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                        .section-menu-content--item__bottom
                            .section-menu-content--order
                                .section-menu-content--price__wrap
                                    .section-menu-content--price__stock
                                    .section-menu-content--price 65 ₽ / #[span 1 шт.]
                                .button-basket--product__wrap
                                    .main-button-transparent.max-content.button-basket--product Добавить
                                    .basket-product--count
                                        .basket-product--minus -
                                        input.basket-product--input(type="text" value="1" min="1" readonly="readonly")
                                        .basket-product--plus +