.popup-mobile-added#custom-mobile-cat-list
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
    .popup-mobile-title Хинкали
    .popup-body.modal-body
        .popup-mobile-cat--list
            .popup-mobile-cat--item Хинкали калакури
            .popup-mobile-cat--item Хинкали мтиулури
            .popup-mobile-cat--item Хинкали казбегури
            .popup-mobile-cat--item Хинкали кахури
