form.popup-mobile-added#custom-popup-mobile-add-review
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title Оставьте отзыв
        .popup-header--desc.text-center Помогите нам сделать сервис удобнее, для нас важен каждый комментарий!

    .popup-body.modal-body.p-4.pb-0
        .popup-input--wrapper
            label Оценка:
            .rate-yo
            input.rateyo-hidden(type="hidden" value="")
        .popup-input--wrapper
            textarea.popup-textarea(cols="5" rows="3" placeholder="Ваш отзыв:")

    .popup-footer.modal-footer
        button.main-button.w-230.m-0-auto.mb-30(type="submit") Отправить