.popup-mobile-added#custom-mobile-sort
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
    .popup-body.modal-body
       .popup-mobile-sort--list
           .popup-mobile-sort--item По алфавиту
           .popup-mobile-sort--item По популярности
           .popup-mobile-sort--item По рейтингу
           .popup-mobile-sort--item Сначала дорогие
           .popup-mobile-sort--item Сначала дешевые
           .popup-mobile-sort--item По размеру скидки
