.popup-mobile-added#custom-popup-mobile-card-update
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title Замените соус на свой вкус
        .popup-header--desc С этим блюдом часто заказывают:
    .popup-body.modal-body
        .popup-tabs--container--wrap
            .popup-tabs--container.swiper-container
                .swiper-wrapper
                    .popup-tabs--item.swiper-slide.tab-item.active(data-tab="popup-sous") Хинкали
                    .popup-tabs--item.swiper-slide.tab-item(data-tab="popup-drinks") Чебуреки
                    .popup-tabs--item.swiper-slide.tab-item(data-tab="popup-salat") Манты
                    .popup-tabs--item.swiper-slide.tab-item(data-tab="popup-desert") Хачапури
            .popup-swiper-categ--wrap
                .popup-swiper-categ-prev
                    +icon('arrow-left')
                .popup-swiper-categ-next
                    +icon('arrow-right')
        .popup-tabs--content.tab-content--wrap
            .popup-tab--item.popup-sous.active
                .popup-basket-notific.swiper-container
                    .swiper-wrapper
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--recommend Рекомендуем
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


            .popup-tab--item.popup-drinks
                .popup-basket-notific.swiper-container
                    .swiper-wrapper
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

            .popup-tab--item.popup-salat
                .popup-basket-notific.swiper-container
                    .swiper-wrapper
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


            .popup-tab--item.popup-desert
                .popup-basket-notific.swiper-container
                    .swiper-wrapper
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/product-item/img1.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Хинкали из баранины
                                        .section-menu-content--desc.mb-20 Баранина, Лук, Мясной бульон, Мука, Вода, Яйца куриные, Соль, Перец черный.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price #[.product-content--price_item(data-price-item="65") 65] ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить
                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img10.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Томатный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным томатным вкусом и чесноком.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить

                        .section-menu-content--col.swiper-slide
                            .section-menu-content--item
                                .section-menu-content--favourite
                                    +icon('like2')
                                a.section-menu-content--item__top(href="/")
                                    .section-menu-content--img(style="background-image:url('/static/img/content/products/img12.png')")
                                    .section-menu-content--item__info
                                        .section-menu-content--name.mb-10 Соус Чесночный
                                        .section-menu-content--desc.mb-20 Пикантный соус с нежным сливочно-чесночным вкусом.
                                .section-menu-content--item__bottom.basket-count-buttons--wrapper
                                    .section-menu-content--order.basket-el-selector
                                        .section-menu-content--price__wrap
                                            .section-menu-content--price__stock
                                            .section-menu-content--price 29 ₽ / #[span 1 шт.]
                                        .lanch-choise-product--wrap2
                                            .lanch-choise-button2
                                                span Заменить


