.popup-mobile-added#custom-mobile-attention
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15 Войдите в аккаунт
        .popup-svg-icon
            +icon2('fill-closed')
        .popup-header--title--v2 “Название”
        .popup-header--desc--v2 Уважаемый клиент, сейчас мы не работаем, но вы можете оставить свой заказ и мы выполним его в рабочее время!
        .popup-header--desc--v2 ЧАСЫ РАБОТЫ: 10:30 – 22:30
    .popup-body.modal-body
        .main-button.w-230.m-0-auto.mb-4(data-custom-close="modal") Показать дальше