form.popup-mobile-added#custom-mobile-call-sub2
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-svg-icon
            +icon2('fill-subscribe')
        .popup-body-bold--wrap
            .popup-body-bold--text Вы уже подписаны на нас.
            .popup-body-bold--text Спасибо!

    .popup-body.modal-body
        .main-button.w-270.m-0-auto.mb-30.popup-close-modal2(data-custom-close="modal") Ок