form.popup-mobile-added#custom-mobile-mini-basket
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15.color-21 Корзина
    .popup-body.modal-body
        .mobile-mini-basket--list
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" data-min="1"  readonly)
                        .basket-product--plus +
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" data-min="1"  readonly)
                        .basket-product--plus +
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" data-min="1"  readonly)
                        .basket-product--plus +
    .popup-mini-b--footer
        .mobile-mini-basket-count--wrap
            .mobile-mini-bakset-added--button
                +icon('basket')
            .basket-product--count
                .basket-product--minus -
                input.basket-product--input(type="text" value="1" data-min="1"  readonly)
                .basket-product--plus +
        .card-content-added-one-click.main-button-transparent(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-one-click") Купить в 1 клик

