.popup-mobile-added#custom-mobile-delete--no
    .popup-header.modal-header.pb-0.mb-30
        .popup-mobile-line--close
        .popup-header--title.mb-10 Вы не можете удалить этот адрес, он был использован для заказа
    .popup-footer.modal-footer
        button.main-button.w-230.m-0-auto.mb-30(data-custom-close="modal") Ок