form.popup-mobile-added#custom-mobile-call-sub
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-svg-icon
            +icon2('fill-subscribe')
        .popup-body-bold--text Вы успешно подписаны на наши новостную расссылку
    .popup-body.modal-body
        .main-button.w-270.m-0-auto.mb-30.popup-close-modal2(data-custom-close="modal") Ок
