form.popup-mobile-added#custom-mobile-complex--eat
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.color-21.text-center.mbm-15 Добавить в готовый комплексный набор
    .popup-body.modal-body
        .popup-complex--list
            .popup-complex--item
                .popup-complex--item__info
                    .popup-complex--item__title Бизнес ланч 1
                    .popup-complex--item__desc от 22.10.2020
                .popup-complex--item__info
                    .popup-complex--item__title.text-center 125 ₽
                    .popup-complex--item__desc.text-center 1 товар
                .popup-complex--item__info
                    .popup-complex--button Выбрать
            .popup-complex--item
                .popup-complex--item__info
                    .popup-complex--item__title Бизнес ланч 1
                    .popup-complex--item__desc от 22.10.2020
                .popup-complex--item__info
                    .popup-complex--item__title.text-center 125 ₽
                    .popup-complex--item__desc.text-center 1 товар
                .popup-complex--item__info
                    .popup-complex--button Выбрать
            .popup-complex--item
                .popup-complex--item__info
                    .popup-complex--item__title Бизнес ланч 1
                    .popup-complex--item__desc от 22.10.2020
                .popup-complex--item__info
                    .popup-complex--item__title.text-center 125 ₽
                    .popup-complex--item__desc.text-center 1 товар
                .popup-complex--item__info
                    .popup-complex--button Выбрать

    .popup-complex-fixed
        button.main-button.w-100.m-0-auto.mb-30(type="submit") Сохранить