.popup-mobile-added#custom-mobile-filter-price
    .popup-header--v2
        .popup-header-go-back(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-filter")
            +icon('left-arrow')
        .popup-mobile-title Цена
    .popup-body.modal-body
       .popup-mobile--price
           .filter-price--wrap
               .filter--price--inputs
                   input#hidden1.sliders-filters.input-teamlight(name='1', type='text', data-index="0" placeholder="от")
                   input#hidden2.sliders-filters.input-teamlight(name='2', type='text', data-index="1" placeholder="до")
               .filter--price-js#filter-slider