form.popup-mobile-added#custom-mobile-call-error
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-svg-icon
            +icon2('fill-error')
        .popup-body-bold--text2 Упс! Произошла ошибка!
        .popup-body-bold--desc Проверьте email адрес и опробуйте еще раз

    .popup-body.modal-body
        .main-button.w-270.m-0-auto.mb-30.popup-close-modal2(data-custom-close="modal") Ок