form.popup-mobile-added#custom-mobile-lanch-basket
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-mobile-header--wrap
            .popup-header--title.color-21 Мой заказ
            .popup-header--title 537 ₽
    .popup-body.modal-body
        .mobile-mini-basket--list
            .mobile-mini-basket--item--lanch__wrap
                .mobile-mini-basket--item
                    a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/lanch.png')" href="/")
                    .mobile-mini-basket--info
                        .mobile-mini-basket--name Бизнес ланч
                        .mobile-lanch-basket--comp
                            +icon('arrow-down')
                        .basket-product--count
                            .basket-product--minus -
                            input.basket-product--input(type="text" value="1" min="1"  readonly)
                            .basket-product--plus +
                .mobile-lanch-basket--depth
                    .mobile-lanch-basket--depth--item
                        a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                        .mobile-mini-basket--info
                            .mobile-mini-basket--name Хинкали из баранины
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" min="1"  readonly)
                                .basket-product--plus +
                            .mobile-lanch-basket--comp--delete
                                +icon('delete')
                    .mobile-lanch-basket--depth--item
                        a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                        .mobile-mini-basket--info
                            .mobile-mini-basket--name Хинкали из баранины
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" min="1"  readonly)
                                .basket-product--plus +
                            .mobile-lanch-basket--comp--delete
                                +icon('delete')
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1"  readonly)
                        .basket-product--plus +
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1"  readonly)
                        .basket-product--plus +
            .mobile-mini-basket--item
                a.mobile-mini-basket--img(style="background-image:url('/static/img/content/product-item/img1.png')" href="/")
                .mobile-mini-basket--info
                    .mobile-mini-basket--name Хинкали из баранины
                    .basket-product--count
                        .basket-product--minus -
                        input.basket-product--input(type="text" value="1" min="1"  readonly)
                        .basket-product--plus +
    .popup-mini-b--footer
        .mobile-mini-basket-count--wrap
            .mobile-mini-bakset-added--button
                +icon('basket')
            .basket-product--count
                .basket-product--minus -
                input.basket-product--input(type="text" value="1" min="1"  readonly)
                .basket-product--plus +
        .card-content-added-one-click.main-button-transparent(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-one-click") Купить в 1 клик