form.popup-mobile-added#custom-mobile-lk-adress
    .popup-header.modal-header.pb-0
        .popup-mobile-line--close
        .popup-header--title.mbm-15 Добавить адрес
    .popup-body.modal-body.p-3
        .popup-input--wrapper
            input.popup-input(type="text" placeholder="Адрес")
        .popup-lk-wrapper
            input.popup-input.w-48(type="text" placeholder="Улица")
            input.popup-input.w-48(type="text" placeholder="Дом")
            input.popup-input(type="text" placeholder="Подъезд")
            input.popup-input(type="text" placeholder="Этаж")
            input.popup-input(type="text" placeholder="Квартира/Офис")
        .order-checkbox-everyday.lk-adress-deafalt
            .order-checkbox-everyday--check
            input(type="checkbox")
            span По умолчанию
    .popup-footer.modal-footer
        button.main-button.w-230.m-0-auto.mb-30(type="submit") Добавить