.popup-mobile-added#custom-mobile-filter-type
    .popup-header--v2
        .popup-header-go-back(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-filter")
            +icon('left-arrow')
        .popup-mobile-title Тип блюда
    .popup-body.modal-body
        .popup-mobile-cat--list.popup-mobile-checkbox--list
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Грузинская (12)
                .popup-mobile-check--item
                    +icon('check')
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Осетинская (8)
                .popup-mobile-check--item
                    +icon('check')
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Узбекская (24)
                .popup-mobile-check--item
                    +icon('check')
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Татарская (20)
                .popup-mobile-check--item
                    +icon('check')
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Среднеазиатская (37)
                .popup-mobile-check--item
                    +icon('check')
            .popup-mobile-filter--item.popup-mobile-check--item__wrap
                span Любая (101)
                .popup-mobile-check--item
                    +icon('check')