.popup-mobile-added#custom-mobile-delete--adress
    .popup-header.modal-header.pb-0.mb-30
        .popup-mobile-line--close
        .popup-header--title.mb-10 Вы уверены, что хотите удалить адрес?
    .popup-footer.modal-footer
        button.main-button.w-230.m-0-auto.mb-15(data-custom-dismiss="modal" data-custom-modal="#custom-mobile-delete--no") Удалить
        button.main-button.w-230.m-0-auto.no-delete.mb-30(data-custom-close="modal") Не удалять
