section.section-reg.p-60-0
    .container
        .section-404-container
            .section-404-container--icon
                +icon2('reg-non')
            .section-404-container--title Регистрация по данной ссылке невозможна !
            .main-button.max-content.m-0-auto Войти в личный кабинет