section.section1.section-basket
    .container
        .section-title--wrap.justify-content-between
            .section-title.mb-30 Мой заказ
        .basket-wrapper
            .col-xl-8.col-lg-8.col-md-6.col-sm-12.basket-content.pl-0
                .header-mini-basket__items

                    .header-mini-basket__item
                        .header-mini-basket__left.mb-20
                            .header-mini-basket__img(style="background-image:url('/static/img/content/products/img12.png')")
                            .header-mini-basket__title Соус чесночный
                        .header-mini-basket__right
                            .basket-product--count
                                .basket-product--minus -
                                input.basket-product--input(type="text" value="1" data-min="1"  readonly)
                                .basket-product--plus +
                            .header-mini-basket__right__attr
                                .header-mini-basket__price 58 ₽
                                .header-mini-basket__delete
                                    +icon('delete')
                .basket-promo
                    .basket-promo--wrap
                        .basket-promo--info
                            input.basket-promo-input(type="text" placeholder="Введите промокод")
                            .basket-promo--item__name.promo-error Промокод wintr20 не найден

                        button.basket-promo-submit(type="submit") Применить
                    .create-theme Создать шаблон
            .col-xl-4.col-lg-4.col-md-6.col-sm-12.basket-out.pr-0
                .lanch-components--stycky
                    form.lanch-components--block
                        .lanch-components--top
                            .lanch-components--title Оформить заказ
                            .lanch-components--count 490 г.
                        .lanch-components--middle
                            .lanch-components--middle__item
                                .lanch-components--middle--name Соус чесночный
                                .lanch-components--middle--price 58 ₽

                        .lanch-components--bottom
                            .lanch-components--out--wrap
                                .lanch-components--out Итого:
                                .lanch-components--out__price 350 ₽
                            .basket-min-price Минимальная сумма заказа 400 ₽
                            button.main-button.basket-button-min--price(type="submit" disabled="disabled") Оформить заказ