section.section1.section-recept
    .container
        .section-title--article Хинкали, наш фирменный рецепт
        .article-hash-date--wrap
            .article-hash--list
                a.article-hash--item(href="/") #Новости;
                a.article-hash--item(href="/") #Хинкали;
                a.article-hash--item(href="/") #Акции
            .article-hash--date 12.10.2020
        .section-container
            .article-receipt--content
                .article-receipt--video
                    a.col-xl-5.col-lg-5.col-md-6.col-sm-12.article-receipt--video__img.pl-0(data-fancybox href="https://www.youtube.com/watch?v=WDRkV8yfMAg")
                        img.article-img(src="static/img/content/recept/img1.png")
                        .article-video--icon
                            +icon('play')
                        .article-img--title Хинкали, наш фирменный рецепт
                        .article-hash--date 12.10.2020
                    .article-hash--list.article-hash--list__mobile
                        a.article-hash--item(href="/") #Новости;
                        a.article-hash--item(href="/") #Хинкали;
                        a.article-hash--item(href="/") #Акции
                    .col-xl-7.col-lg-7.col-md-6.col-sm-12.article-receipt--video__text.pr-0
                        p.article-text Хинкали - это национальное грузинское блюдо. Ни в коем случае их не стоит сравнивать с пельменями, это кардинально другое блюдо, одновременно состоящее из первого и второго блюда. Потрясающе вкусная вещь! В данном рецепте я покажу Вам, как несложно приготовить самолепные хинкали прямо у Вас дома!
                            br
                            br
                            | Начинка для хинкали готовится из говядины/телятины или свинины (частый вариант — говядина со свининой), реже — баранины/ягненка. Начинка может быть рубленой (классический вариант) или в виде фарша. К ней в обязательном порядке добавляется много различных специй и зелени. Имеют место также хинкали с сыром (чаще сулугуни), которые являются заменой мясным блюдам для вегетарианцев, а также придают разнообразия насыщенной мясными блюдами грузинской кухне. Сугубо вегетарианским блюдом являются хинкали с грибами.
        ul.article-recept-comp--list
            .article-recept--title Описание & Рецепт
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img2.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Фарш
                        p.article-text В фарш проворачивается очищенное от жил мясо — грудинка или задок молодой особи. Затем добавляется сало, мелко нарубленные лук и чеснок. В конце вмешивается вода — столько, сколько фарш сможет впитать, не разделяясь на мясную и водную фракции. На полкило мяса — примерно 150 мл. По вкусу можно добавить соль, зиру, ­острый перец (можно приготовить самостоятельно) и кинзу.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/gray.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Название
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img3.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Тесто: Этап 1
                        p.article-text Замесить тесто из муки, соли и 150 мл воды — достаточно плотное и тугое. Замешивать и раскатывать его вручную будет трудно — поэтому если у вас есть тестомес и особенно тестораскаточная машинка, они очень облегчат процесс. Тесто может храниться в прохладном месте не более часа, потом начинает стремительно терять благородные качества.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/inst1.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Блендер для теста
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img4.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Тесто: Этап 2
                        p.article-text Успех будущих хинкали зависит от количества слоев в тесте: в идеале их должно быть около двадцати. Для этого надо раскатать тесто скалкой в сантиметровый слой и нарезать его квадратами 4х4 см. Каждый кусочек нужно раскатывать и складывать, через раз посыпая мукой, снова и снова — хотя бы 10 раз. Результатом должны стать слоеные листы 3 мм толщиной.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/inst2.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Скалка
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img5.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Кол-во фарша
                        p.article-text Фарш готовится заранее, поскольку как только листы теста будут готовы, заворачивать в них мясо нужно немедленно, чтобы тесто не сохло. В середину каждого листа положить по маленькому половнику фарша, примерно 40 грамм. Если на фарше успела проступить вмешанная вода, перед тем как выкладывать на тесто, его нужно еще раз хорошенько перемешать до однородности.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/gray.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Название
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img6.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Лепка
                        p.article-text Края листа складываются гармошкой как можно плотнее. В идеальном хинкали девятнадцать складок.Скрепленный мешочек взять в одну руку, а другой закрутить в ту же сторону, что делались складки, и оторвать излишек теста — у хинкали сверху получится плотный пенек. Поставить хинкали на доску, чтобы у него образовалось плоское дно, которое потом удобно будет надкусывать.
                        .article-recept-inst
                            a.article-recept-inst--img(style="background-image:url('static/img/content/recept/vid1.png')" data-fancybox href="https://www.youtube.com/watch?v=WDRkV8yfMAg")
                                +icon2('fill-play')
                            .article-recept-inst--info
                                .article-recept-inst--title Совет
                                .article-recept-inst--name Как быстро научиться лепить хинкали
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img7.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Процесс приготовления
                        p.article-text Лопаткой раскрутить бурно кипящую воду в просторной кастрюле, посолить, забросить десяток хинкали и снова сделать в кастрюле водоворот. Смысл в том, чтобы хинкали не жались и не прилипали друг к другу или ко дну. Варить, пока хинкали не всплывут вверх брюхом. Плюс еще две-три минуты, — всего ­около десяти минут. Вынимать бережно — шумовкой.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/inst3.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Шумовка
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img8.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Подача блюда
                        p.article-text Улов выкладывается на блюдо. Как правило, варят количество, кратное десяти, каждую следующую порцию готовят заново. Финальный жест перед началом трапезы — посыпание еще влажных, дымящихся хинкали свежемолотым черным перцем, что сразу высвобождает из них правильный дух. К еде приступают немедленно.
                        .article-recept-inst
                            .article-recept-inst--img(style="background-image:url('static/img/content/recept/inst4.png')")
                            .article-recept-inst--info
                                .article-recept-inst--title Инструмент
                                .article-recept-inst--name Глубокая тарелка
            li.article-recept-comp--item
                .section-container.d-flex.justify-content-between
                    .why-us--left
                        img.why-us--img.article-recept-img--main(src="/static/img/content/recept/img9.png")
                    .why-us--right
                        .section-title--wrap.justify-content-between.align-items-end.mb-25
                            .article-recept--title.mb-15 Приятного аппетита!
                        p.article-text Хинкали едят руками: вилка проколет тесто — и бульон, ­самый сок хинкали, выльется на тарелку. Рукой надо взять хвост, второй — придерживать ребра; надкусить бок сверху и высосать бульон. Затем есть, кусая тесто и мясо в равных долях, так чтобы кусочек мяса постоянно покоился в лодочке теста. По хвостикам будут считать в конце число съеденных штук.
                        .article-recept-inst
                            a.article-recept-inst--img(style="background-image:url('static/img/content/products/img12.png')" href="/")
                            .article-recept-inst--info
                                .article-recept-inst--title С чем едят?
                                .article-recept-inst--name Соус Чесночный или Томатный