section.section3.section-comments.p-60-0
    .container
        .col-xl-8.col-lg-8.col-md-12.col-sm-12.article-content.p-0
            .articles-comments
                form.articles-stay-comment
                    .article-stay--title Ваш комментарий:
                    textarea.articles-textarea(cols="5" rows="5" placeholder="Комментарий...")
                    button.main-button.w-170(type="submit") Отправить
                .articles-all-comments
                    .article-comments--title Комментарии:
                    .article-comments--list
                        .article-comments--item
                            .article-comments--item__name Лев Лукин
                            .article-comments--item__date 11 Июня, 2020 | 12:42
                            .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget. Ullamcorper et id vitae vel, venenatis, elit, ullamcorper. Nunc, in eget diam neque diam nisl ut aliquet. Vestibulum orci pellentesque ligula aenean enim ullamcorper.
                            .article-comments--item__depth
                                span Комментарии (2)
                                .article-comments--item__arrow
                                    +icon('arrow-down')
                            .article-comments--item__depth2
                                textarea.articles-textarea.mb-30(cols="5" rows="3" placeholder="Ваш комментарий...")
                                .article-comments--list__depth2
                                    .article-comments--item
                                        .article-comments--item__name Гость
                                        .article-comments--item__date 11 Июня, 2020 | 12:42
                                        .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                    .article-comments--item
                                        .article-comments--item__name Лев Лукин
                                        .article-comments--item__date 11 Июня, 2020 | 12:42
                                        .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.

                        .article-comments--item
                            .article-comments--item__name Гость
                            .article-comments--item__date 11 Июня, 2020 | 12:42
                            .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                            .article-comments--item__depth
                                span Комментарии (3)
                                .article-comments--item__arrow
                                    +icon('arrow-down')
                            .article-comments--item__depth2
                                textarea.articles-textarea.mb-30(cols="5" rows="3" placeholder="Ваш комментарий...")
                                .article-comments--list__depth2
                                    .article-comments--item
                                        .article-comments--item__name Гость
                                        .article-comments--item__date 11 Июня, 2020 | 12:42
                                        .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                                    .article-comments--item
                                        .article-comments--item__name Лев Лукин
                                        .article-comments--item__date 11 Июня, 2020 | 12:42
                                        .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.
                                    .article-comments--item
                                        .article-comments--item__name Лев Лукин
                                        .article-comments--item__date 11 Июня, 2020 | 12:42
                                        .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget.
                        .article-comments--item
                            .article-comments--item__name Гость
                            .article-comments--item__date 11 Июня, 2020 | 12:42
                            .article-comments--item__comment Turpis metus purus blandit semper. Lectus pellentesque maecenas enim pharetra eget. Imperdiet quis vehicula semper eget.
                            .article-comments--item__depth
                                span Комментировать
                                .article-comments--item__arrow
                                    +icon('arrow-down')
                            .article-comments--item__depth2
                                textarea.articles-textarea.mb-30(cols="5" rows="3" placeholder="Ваш комментарий...")