section.section2.section-recept-other
    .container
        .recept-title--wrap
            .recept-title-other Другие рецепты
            a.recept-link-other(href="") Все рецепты
        .recept-other-flex--wrap.swiper-container
            .recept-other-flex.row.swiper-wrapper
                .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                    a.articles-content-item(href="/")
                        .articles-content-tag.color-peorple Рецепты
                        .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                        .articles-content-info
                            .articles-content-title Новые блюда в меню
                            .articles-content-desc Augue ultricies maecenas quisque dignissim mauris donec sit vitae, mattis. Nunc sagittis nulla tortor feugiat ut sit...
                            .articles-content-bottom
                                .articles-content-link Подробнее
                                .articles-content-date 12.10.2020
                .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                    a.articles-content-item(href="/")
                        .articles-content-tag.color-peorple Рецепты
                        .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                        .articles-content-info
                            .articles-content-title Новые блюда в меню
                            .articles-content-desc Augue ultricies maecenas quisque dignissim mauris donec sit vitae, mattis. Nunc sagittis nulla tortor feugiat ut sit...
                            .articles-content-bottom
                                .articles-content-link Подробнее
                                .articles-content-date 12.10.2020
                .col-xl-4.col-lg-4.col-md-6.col-sm-9.articles-content-col.swiper-slide
                    a.articles-content-item(href="/")
                        .articles-content-tag.color-peorple Рецепты
                        .articles-content-img(style="background-image:url('/static/img/content/articles/img2.png')")
                        .articles-content-info
                            .articles-content-title Новые блюда в меню
                            .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                            .articles-content-bottom
                                .articles-content-link Подробнее
                                .articles-content-date 12.10.2020