section.section1.section-blog
    .container
        .section-title--wrap.justify-content-between.mb-30
            .section-title.mb-0 Наш блог
            .review-button-tabs.lk-tab-title--mobile
                .review-button-tab.w-130.mr-15.active(data-tab="blog-all") Все
                .review-button-tab.w-130.mr-15(data-tab="blog-news") Новости
                .review-button-tab.w-130.mr-15(data-tab="blog-rec") Рецепты
                .review-button-tab.w-130.mr-15(data-tab="blog-articles") Статьи
        .section-content-tabs
            .section-content-tab.blog-all.active
                .articles-content-wrap.flex-wrap
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню! Только до 31.10.2020, все новинки с 20% скидкой и бесплатной доставкой!
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Хачапури по аджарски
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Показать еще
            .section-content-tab.blog-news
                .articles-content-wrap.flex-wrap
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все новости
            .section-content-tab.blog-rec
                .articles-content-wrap.flex-wrap
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все рецепты
            .section-content-tab.blog-articles
                .articles-content-wrap.flex-wrap
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-orange Новости
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img1.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-peorple Рецепты
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img2.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                    .articles-content-col
                        a.articles-content-item(href="/")
                            .articles-content-tag.color-yellow Статьи
                            img(loading="lazy" alt="pic").articles-content-img(src="/static/img/content/articles/img3.png")
                            .articles-content-info
                                .articles-content-title Новые блюда в меню
                                .articles-content-desc Id quam et arcu quam proin amet. Dignissim lacus, commodo ipsum nunc urna. Feugiat maecenas aliquet...
                                .articles-content-bottom
                                    .articles-content-link Подробнее
                                    .articles-content-date 12.10.2020
                a.main-button.w-230.m-0-auto(href="/") Все статьи