section.section2.section-map
    .contact-map
        .container
            .contact-map--block
                .contact-map--title Адрес:
                .contact-map--adress 105064, г. Москва, Тверская улица, дом 13
                .contact-map--title Реквизиты:
                .contact-map-rec ИНН:
                    span 1234546788
                .contact-map-rec ОГРН:
                    span 4652472672562
                .contact-map-rec КПП:
                    span 174174644
        .contact-map-script
            script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac913f5f05d1a4fb0054e0c06a86ef1d58352a7395aed0c163a0e3b6978073b16&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true")