section.section2.section-map
    .contact-map
        .container
            .contact-map--block
                .contact-map--title Адрес:
                .contact-map--adress 105064, г. Москва, Тверская улица, дом 13
                .contact-map--title Реквизиты:
                .contact-map-rec ИНН:
                    span 1234546788
                .contact-map-rec ОГРН:
                    span 4652472672562
                .contact-map-rec КПП:
                    span 174174644
        .contact-map-script
            #map