section.section1.section-lk-mobile-menu
    .lk-mobile-menu--wrap
        a.lk-mobile-menu--photo(style="background-image:url('/static/img/general/profile.png')" href="/")
        .lk-profile-info
            .lk-profile-name Евгений Трофимов
            a.lk-profile-link(href="mailto:Trofimov@gmail.com") Trofimov@gmail.com
    .lk-mobile-menu--wrap.flex-column.align-content-start
        .lk-mobile-menu--title Личный кабинет
        .lk-mobile-menu--list
            a.lk-mobile-menu--item(href="/") Личные данные
            a.lk-mobile-menu--item(href="/") Адреса
            a.lk-mobile-menu--item(href="/") Мои заказы
            a.lk-mobile-menu--item(href="/") Подписка
    .lk-mobile-menu--wrap.flex-column.align-content-start
        .lk-mobile-menu--title Меню
        .lk-mobile-menu--list
            a.lk-mobile-menu--item(href="/") О нас
            a.lk-mobile-menu--item(href="/") Контакты
            a.lk-mobile-menu--item(href="/") Доставка и оплата
            a.lk-mobile-menu--item(href="/") Акции
            a.lk-mobile-menu--item(href="/") Контакты
    a.lk-mobile-menu--exit(href="/") Выйти
